@import "variables";
@media (min-width: 150px) and (orientation: portrait) {
  html{
    font-size: 4px;
  }
}

@media (min-width: 220px) and (orientation: portrait) {
  html{
    font-size: 8.7px;
  }
}

@media (min-width: 320px) and (orientation: portrait) {
  html{
    font-size: 10px;
  }
}

@media (min-width: 360px) and (orientation: portrait) {
  html{
    font-size: 10px;
  }
  .wrapper{
    #navbar-btn{
      margin-right: -18rem;
    }
  }
}

@media (min-width: 410px) and (orientation: portrait) {
  .wrapper{
    #navbar-btn{
      margin-right: -23rem;
    }
  }
  .accordion-container{
    .accordion-elements {
      &.active {
        min-height: 80vh;
      }
    }
  }
}

@media (min-width: 430px) {
  .wrapper{
    #navbar-btn{
      margin-right: -30rem;
    }
  }
  .check-container {
    margin-top: 23rem;
  }
}
@media (min-width: 474px) {
  .accordion-container{
    .accordion-elements {
      &.active {
        min-height: 80vh;
        h2 {
          &:after{
            bottom:1.2em;
          }
        }
      }
    }
  }

}

@media (min-width: 530px) and (orientation: portrait) {
  .wrapper{
    #navbar-btn{
      margin-right: -38rem;
    }
  }
  .warranty-container{
    .warranty-text{
      ul{
        margin-top: 13rem;
        li{
          padding-bottom:2rem ;
        }
      }
    }
  }
}

@media (min-width: 630px) {
  .wrapper{
    #navbar-btn{
      margin-right: -45rem;
    }
  }
  .warranty-container{
    .warranty-text{
      margin-top: 2rem;
      ul{
        margin-top: 7rem;
        li{
          padding-bottom:2rem ;
        }
      }
    }
  }
  .check-container{
    p{
      padding: 4rem 2rem 3rem 2rem;
    }
    .check-elements{
      flex-direction: row;
      .check-element{
        min-width: 20rem;
        max-width: 20rem;
      }
    }
  }
  .accordion-container{
    .accordion-elements {
      &.active {
        min-height: 80vh;
      }
    }
  }
}

@media (min-width: 720px) {
  .wrapper{
    #navbar-btn{
      margin-right: -55rem;
    }
  }
}

@media (min-width: 820px) {
  .wrapper {
    justify-content: space-around;
    #navbar-btn {
      display: none;
    }
    .navbar-menu {
      position: static;
      transform: translateX(0);
      transition: .5s ease-in-out;
      li {
        float: left;
        display: block;
        padding: 2rem 1rem 2rem 1rem;
        text-align: center;
        background: $bgcolor;
        margin: 0;
        border: 1px solid white;
        a {
          font-size: 1.6rem;
          color: $textcolor;
          text-decoration: none;
        }
        &:last-child {
          box-shadow: none;
        }
        &:hover {
          color: #000000;
          text-shadow: 0.001rem 0.001rem 0.009rem #000000;
        }
      }
    }
    .navbar-phone {
      display: block;
      padding-top: 2rem;
      a{
        color: $textcolor;
        text-decoration: none;
        font-size: 1.3rem;
        img {
          vertical-align:middle;
        }
        &:hover{
          color: #000000;
          text-shadow: .001rem .001rem .009rem #000000;
        }
      }
    }
  }
  .wrapper-linie{
    height: 40rem;
  }
  .check-container{
    .check-elements{
      .check-element{
        min-width: 25rem;
        max-width: 25rem;
      }
    }
  }
  .footer-container{
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 1020px) {
}

@media (min-width: 1280px) {
  .accordion-container{

    .accordion-wrapper {
      flex-direction:row;
      min-height: 100vh;
      max-height: 100vh;
    }

    .accordion-elements {
      min-width: 25vw;
      background-size: auto;
      &.active {
        min-width: 39vw;
        max-width: 39vw;
        font-size: 1.5rem;
        h2 {
          margin: 4rem 10rem 2rem 0;
        }
        p{
          margin: 1rem 3.5rem 1rem 3.5rem;
        }
      }

      .section-content {
        flex-direction: column;
      }
    }
  }
  .slim1{
    &:nth-child(2),&:nth-child(3),&:nth-child(4){
      min-width: 13vw;
    }
  }
  .slim2{
    &:nth-child(1),&:nth-child(3),&:nth-child(4){
      min-width: 13vw;
    }
  }
  .slim3{
    &:nth-child(1),&:nth-child(2),&:nth-child(4){
      min-width: 13vw;
    }
  }
  .slim4{
    &:nth-child(1),&:nth-child(2),&:nth-child(3){
      min-width: 13vw;
    }
  }
  .warranty-container{
    .warranty-text{
      h2{
        width: 30vw;
      }
      ul{
        margin-top: 0;
        margin-left: 30vw;
        font-size: 2rem;
        li{
          line-height: 2.9rem;
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  html{
    font-size: 13px;
  }
}
