@import "variables";
@media (min-width: 150px) and (orientation: portrait) {
  html{
    font-size: 4px;
  }
}

@media (min-width: 220px) and (orientation: portrait) {
  html{
    font-size: 8.7px;
  }
}

@media (min-width: 320px) and (orientation: portrait) {
  html{
    font-size: 10px;
  }
}

@media (min-width: 360px) and (orientation: portrait) {
  html{
    font-size: 10px;
  }
  .wrapper{
    #navbar-btn{
      margin-right: -18rem;
    }
  }
  .services-container{
    .services-element{
      p{
        width: 50%;
      }
      .service-element-title{
        font-size: 2rem;
      }
    }
  }
}

@media (min-width: 410px) and (orientation: portrait) {
  .wrapper{
    #navbar-btn{
      margin-right: -23rem;
    }
  }
}

@media (min-width: 430px) {
  .wrapper{
    #navbar-btn{
      margin-right: -30rem;
    }
  }
}

@media (min-width: 530px) {
  .services-container{
    flex-direction: row;
    .services-element{
      width: 33.3vw;
      height: 100vh;
      .service-element-title{
        font-size: 1.5rem;
      }
      p{
        width: 60%;
      }
      &:nth-child(1){
        color: $bgcolor;
        p{
          border: none;
          margin-top: 4rem;
          margin-left: 5.6rem;
          font-size: 2.7rem;
        }
        &:hover{
          background-color: $textcolor;;
          opacity: 1;
        }
      }
    }
  }
}

@media (min-width: 530px) and (orientation: portrait) {
  .wrapper{
    #navbar-btn{
      margin-right: -38rem;
    }
  }
}

@media (min-width: 630px) {
  .wrapper{
    #navbar-btn{
      margin-right: -45rem;
    }
  }
}

@media (min-width: 720px) {
  .wrapper{
    #navbar-btn{
      margin-right: -55rem;
    }
  }
}

@media (min-width: 820px) {
  .rectangle-wrapper {
    position: relative;
    display: block;
    .rectangle-number {
      position: absolute;
      font-size: 1.5rem;
      margin-top: -2rem;
      margin-left: 6rem;
    }
    .rectangle-title {
      border: none;
      margin-top: 30rem;
      margin-left: 5.6rem;
      font-size: 2.7rem;
    }
    .rectangle-line {
      z-index: -2;
      height: 30rem;
      margin-left: 6.3rem;
      margin-top: 2rem;
      position: relative;
    }
    .rectangle-description {
      position: absolute;
      text-transform: uppercase;
      transform: rotate(-90deg);
      margin-top: 38rem;
      margin-left: -2.2rem;
    }
  }
  .ot2s{
    display: flex;
    padding: 0;
    .rectangle-wrapper{
      width: 25vw;
      .rectangle-number{
        color: $textcolor;
        margin-top:15rem;
      }
      .rectangle-line{
        margin-top: 15rem;
        height: 25rem;
      }
      .rectangle-description{
        margin-top: 60rem;
        margin-left: -1.8rem;
      }
    }
    .wrapper-linie{
      width: 55vw;
      padding-right: 20vw;
    }
  }
  .wrapper {
    justify-content: space-around;
    #navbar-btn {
      display: none;
    }
    .navbar-menu {
      position: static;
      transform: translateX(0);
      transition: .5s ease-in-out;
      li {
        float: left;
        display: block;
        padding: 2rem 1rem 2rem 1rem;
        text-align: center;
        background: $bgcolor;
        margin: 0;
        border: 1px solid white;
        a {
          font-size: 1.6rem;
          color: $textcolor;
          text-decoration: none;
        }
        &:last-child {
          box-shadow: none;
        }
        &:hover {
          color: #000000;
          text-shadow: 0.001rem 0.001rem 0.009rem #000000;
        }
      }
    }
    .navbar-phone {
      display: block;
      padding-top: 2rem;
      a{
        color: $textcolor;
        text-decoration: none;
        font-size: 1.3rem;
        img {
          vertical-align:middle;
        }
        &:hover{
          color: #000000;
          text-shadow: .001rem .001rem .009rem #000000;
        }
      }
    }
  }
  .wrapper-linie{
    height: 70rem;
  }
  .services-container{
    .services-element{
      p{
        width: 70%;
      }
      &:nth-child(1){
        display: block;
        p{
          margin-top: 8rem;
        }
      }
    }
  }
  .about-company-container ,.take-care-container{
    display: flex;
    justify-content: space-between;
    height: 100vh;
    .rectangle-wrapper{
      padding-top:0rem ;
      width: 25vw;
      .rectangle-number{
        margin-top: 10rem;
      }
      .rectangle-title{
        color: $textcolor;
        margin-top: -14rem;
        margin-left: 2.3rem;
      }
      .rectangle-line{
        margin-top: 20rem;
        height: 24rem;
      }
      .rectangle-description{
        margin-top: 50rem;
        margin-left: -4.2rem;
      }
    }
    .wrapper-linie{
      width: 75vw;
      max-width: 100rem;
      height: 100vh;
      margin: 0 auto;
      h3{
        display: none;
      }
      p{
        padding: 0 7rem 0 7rem;
      }
    }
  }
  .numerical-data-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    & > *{
      border: .1rem solid $textcolor;
      width: 50vw;
      text-align: center;
      height: 100vh;
      .rectangle-wrapper {display: none}
      &:nth-child(1),&:nth-child(2){
        display: flex;
        border: none;
      }
      .numerical-data-second-square-line-element {
        width: 25vw;
        height: 50vh;
        .numerical-data-number {
          display: block;
          padding-top: 4rem;
          font-size: 8rem;
          font-weight: bold;
        }
        .numerical-data-unit {
          padding-top: 1.5rem;
          font-size: 1.7rem;
        }
        .numerical-data-description {
          padding-top: 2rem;
          font-size: 2rem;
          letter-spacing: 0.3rem;
          line-height: 2.5rem;
        }
      }
    }
    .numerical-data-reaction{
      color: $bgcolor;
      background-color: #424242;
      width: 100%;
      height: 100vh;
      border: 2px solid $textcolor;
      .numerical-data-number{
        padding-top: 15rem;
        font-size: 15rem;
        font-weight: bold;
      }
      .numerical-data-unit{
        padding-top: 5rem;
        font-size: 1.5rem;
      }
      .numerical-data-description{
        padding-top: 1rem;
        font-size: 2.2rem;
        letter-spacing: 0.3rem;
        line-height: 4rem;
      }
    }
    .numerical-data-recommendation{
      color: $bgcolor;
      background-color: #424242;
    }

  }
  .take-care-container{
    .rectangle-wrapper{
      .rectangle-number{
        margin-top: 10rem;
      }
      .rectangle-title{
        margin-top: -13rem;
        margin-left: 2.8rem;
      }
      .rectangle-line{
        margin-top: 18rem;
        height: 20rem;
      }
      .rectangle-description{
        margin-top: 45rem;
        margin-left: -4.2rem;
      }
    }
    clear: both;
    .take-care-span{
      font-weight: 400;
    }
    .take-care-span__border{
      border: .1rem solid black;
      margin: 0 1rem 1rem 1rem;
      padding: 0.3rem;
      width: 65%;
      text-align: center;
      font-weight: bold;
    }
  }
  .footer-container{
    background: $textcolor;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 845px){
  .wrapper {

    .navbar-phone {
      img {
        vertical-align:middle;
        margin-right: 1rem;
      }
    }
  }
}
@media (min-width: 1020px) {
  .numerical-data-container {
    & > * {
      .rectangle-wrapper {
        position: relative;
        display: block;
        width: 25rem;
        height: 100vh;
        border: 2px solid $textcolor;
        background-color: #27251f;
        color: $bgcolor;
        .rectangle-number {
          color: $bgcolor;
          position: absolute;
          font-size: 1.5rem;
          margin-top: 10rem;
          margin-left: -3.5rem;
        }
        .rectangle-title {
          display: block;
          border: none;
          margin-top: 12.8rem;
          margin-left: 5rem;
          font-size: 2.7rem;
          text-align: left;
        }
        .rectangle-line {
          z-index: 0;
          height: 30rem;
          margin-left: -6.8rem;
          margin-top: 2rem;
          position: relative;
        }
        .rectangle-description {
          font-size: 1rem;
          position: absolute;
          text-transform: uppercase;
          transform: rotate(-90deg);
          margin-top: 35rem;
          margin-left: -2.3rem;
        }
      }
    }
    .numerical-data-reaction {
      color: $bgcolor;
      background-color: #424242;
      width: 100%
    }
  }
}

@media (min-width: 1280px) {
  .footer-container{
    height: 20rem;
    justify-content: space-between;
    align-items: center;
    color: $bgcolor;
    .footer-contact,.footer-menu{
      font-size: 2rem;
      padding: 1rem;
      a{
        color: $bgcolor;
        text-decoration: none;
      }
    }
    .footer-contact{
      display: flex;
      flex-direction: column;
      a{
        margin-top: 1rem;
      }
    }
    .footer-menu{
      ul{
        display: flex;
        li{
          margin-top: 1rem;
          padding: 1rem;
        }
        li:hover{
          text-decoration: underline;

        }
      }
    }
    .footer-rule{
      padding: 1rem;
      font-size: 1.5rem;
      p{
        margin: 0.8rem 0 0.5rem 0;
      }
      img{
        vertical-align:middle;
      }
    }
  }
}
@media (min-width: 1500px) {
  html{
    font-size: 13px;
  }
}
