@import "variables";
@media (min-width: 150px) and (orientation: portrait) {
  html{
    font-size: 4px;
  }
}

@media (min-width: 220px) and (orientation: portrait) {
  html{
    font-size: 8.7px;
  }
}

@media (min-width: 320px) and (orientation: portrait) {
  html{
    font-size: 10px;
  }
}

@media (min-width: 360px) and (orientation: portrait) {
  html{
    font-size: 10px;
  }
  .wrapper{
    #navbar-btn{
      margin-right: -18rem;
    }
  }
}

@media (min-width: 410px) and (orientation: portrait) {
  .wrapper{
    #navbar-btn{
      margin-right: -23rem;
    }
  }
}

@media (min-width: 430px) {
  .wrapper{
    #navbar-btn{
      margin-right: -30rem;
    }
  }
}

@media (min-width: 530px) {
}

@media (min-width: 530px) and (orientation: portrait) {
  .wrapper{
    #navbar-btn{
      margin-right: -38rem;
    }
  }
}

@media (min-width: 630px) {
  .wrapper{
    #navbar-btn{
      margin-right: -45rem;
    }
  }
}

@media (min-width: 720px) {
  .wrapper{
    #navbar-btn{
      margin-right: -55rem;
    }
  }
}

@media (min-width: 820px) {
  .rectangle-wrapper {
    position: relative;
    display: block;
    .rectangle-number {
      position: absolute;
      font-size: 1.5rem;
      margin-top: -2rem;
      margin-left: 6rem;
    }
    .rectangle-title {
      border: none;
      margin-top: 4rem;
      margin-left: 5.6rem;
      font-size: 2.7rem;
    }
    .rectangle-line {
      z-index: -2;
      height: 15rem;
      margin-left: 6.3rem;
      margin-top: 2rem;
      position: relative;
    }
    .rectangle-description {
      position: absolute;
      text-transform: uppercase;
      transform: rotate(-90deg);
      margin-top: 20rem;
      margin-left: -2.2rem;
    }
  }
  .ot2s{
    display: flex;
    padding: 0;
    .rectangle-wrapper{
      width: 25vw;
      .rectangle-number{
        color: $textcolor;
        margin-top:15rem;
      }
      .rectangle-line{
        margin-top: 13rem;
      }
      .rectangle-description{
        margin-top: 47rem;
        margin-left: -1.8rem;
      }
    }
    .wrapper-linie{
      width: 55vw;
      padding-right: 20vw;
    }
  }
  .wrapper {
    justify-content: space-around;
    #navbar-btn {
      display: none;
    }
    .navbar-menu {
      position: static;
      transform: translateX(0);
      transition: .5s ease-in-out;
      li {
        float: left;
        display: block;
        padding: 2rem 1rem 2rem 1rem;
        text-align: center;
        background: $bgcolor;
        margin: 0;
        border: 1px solid white;
        a {
          font-size: 1.6rem;
          color: $textcolor;
          text-decoration: none;
        }
        &:last-child {
          box-shadow: none;
        }
        &:hover {
          color: #000000;
          text-shadow: 0.001rem 0.001rem 0.009rem #000000;
        }
      }
    }
    .navbar-phone {
      display: block;
      padding-top: 2rem;
      a{
        color: $textcolor;
        text-decoration: none;
        font-size: 1.3rem;
        img {
          vertical-align:middle;
        }
        &:hover{
          color: #000000;
          text-shadow: .001rem .001rem .009rem #000000;
        }
      }
    }
  }
  .wrapper-linie{
    height: 70rem;
  }
  .services-container{
    flex-direction: row;
    .services-element{
      width: 25vw;
      .service-element-title{
        font-size: 1.5rem;
      }
      p{
        width: 60%;
      }
      &:nth-child(1){
        display: block;
        color: $bgcolor;
        p{
          border: none;
          margin-top: 4rem;
          margin-left: 5.6rem;
          font-size: 2.7rem;
        }
        &:hover{
          background-color: $textcolor;;
          opacity: 1;
        }
      }
    }
  }
  .about-company-container{
    display: flex;
    justify-content: space-between;
    .rectangle-wrapper{
      padding-top:10rem ;
      width: 25vw;
      .rectangle-number{
        margin-top: 3rem;
      }
      .rectangle-title{
        color: $textcolor;
        margin-top: -12rem;
        margin-left: 2.3rem;
      }
      .rectangle-line{
        margin-top: 10rem;
      }
      .rectangle-description{
        margin-top: 30rem;
        margin-left: -4.2rem;
      }
    }
    .wrapper-linie{
      width: 75vw;
      height: 60rem;
      h3{
        display: none;
      }
      p{
        padding: 0 7rem 0 7rem;
      }
    }
  }
}

@media (min-width: 960px){

}

@media (min-width: 1020px) {
}

@media (min-width: 1280px) {
}

@media (min-width: 1336px) {
}

@media (min-width: 1500px) {
}

@media (min-width: 1600px) {
}

@media (min-width: 1700px) {
  }

@media (min-width: 1800px) {}

@media (min-width: 3800px) {}
