@import "variables";
html{
  font-family: 'Montserrat', sans-serif;
}
//Go to contents links
.element-invisible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  &:focus{
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
  }
}

//NavBar Styles
.wrapper{
  //font-family: $font;
  z-index: 2;
  width: 100%;
  height: 9rem;
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  background-color: white;
  position: fixed;
  transition: .5s ease-in-out;
  .navbar-logo{
    padding: 1rem;
    z-index: 3;
    img {
      height: 4.5rem;
    }
  }
  #navbar-btn {
    width: 3rem;
    height: 3rem;
    margin-top: 2rem;
    margin-right: -12rem;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
    z-index: 3;


    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    span{
      position: absolute;
      height: 0.5rem;
      width: 100%;
      background: $textcolor;
      border-radius: 0.9rem;
      opacity: 1;
      left: 0;

      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;

      &:nth-child(1){top: .0rem;}
      &:nth-child(2){top: 1rem;}
      &:nth-child(3){top: 1rem;}
      &:nth-child(4){top: 2rem;}


      &.open:nth-child(1){
        top: 1.8rem;
        width: 0%;
        left: 50%;
      }
      &.open:nth-child(2){
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &.open:nth-child(3){
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &.open:nth-child(4){
        top: 1.8rem;
        width: 0%;
        left: 50%;}
    }
  }
  .navbar-menu {
    position: absolute;
    width: 100%;
    height: 70%;
    top: -80rem;
    left: 50%;
    transform: translateX(-50%);
    transition: .5s ease-in-out;
    li{
      padding: 2.3rem;
      text-align: center;
      background: $bgcolor;
      margin: 0;
      border: 1px solid white;
      a{
        font-size: 2rem;
        color: $textcolor;
        text-decoration: none;
      }
      &:last-child{
        box-shadow: 0rem .5rem .5rem 0rem rgba(0,0,0,0.3);
      }
      &:hover{
        color: #000000;
        text-shadow: 0.01rem 0.01rem 0.09rem #000000;
      }
    }
  }
  .navbar-menu--open{
    top: 8rem;
  }
  .navbar-phone{
    display: none;
  }
}
.wrapper--scroll{
  height: 7rem;
  box-shadow: 0rem 0rem 1rem 0rem rgba(0,0,0,0.3);
}

//Background line
.wrapper-linie {
  display: flex;
  position: relative;
  justify-content: center;
  height: 70vh;
  .line {
    margin: 5%;
    min-width: 20%;
    min-height: 90%;
    border-right: .1rem solid $line-color;
    z-index: -2;
    transform: translateX(-50%);
  }
}
.title{
  position: absolute;
  padding: 2rem;
  top: 15rem;
  font-size: 3rem;
  text-align: center;
}
.services-container{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    .services-element {
      max-height: 35vh;
      flex: 1;
      display: flex;
      align-items: stretch;
      cursor: pointer;
      transition: all .5s ease;
      width: 100%;
      background-size: 100%;
      background-repeat: no-repeat;
      &:nth-child(1){
        background-image: url("../img/services1.png");
      }
      &:nth-child(2){
        background-image: url("../img/services2.png");
      }
      &:nth-child(3){
        background-image: url("../img/services3.png");
      }
      &:nth-child(4){
        background-image: url("../img/services4.png");
      }
      &:hover {
        opacity: 0.9;
      }

      &.active {
        flex: 5;
        background: $textcolor;
        cursor: default;
        transition: all 1s 0s ease-out;
        min-height: 100rem;
        font-size: 1.6rem;
        h2 {
          color: $bgcolor;
          position: relative;
          margin-bottom: 2rem;
          &:after{
            content: '';
            position: absolute;
            bottom:2.2em;
            left: 0;
            height: 0.1rem;
            width: 15rem;
            border-top: 0.1rem solid white;
          }
        }
        p{
          line-height: 2rem;
          margin: 1rem 0 1rem 0;
        }
        ul{
          list-style-type: disc;
          padding: 2rem;
          li{
            margin: 1rem;
          }
        }
        .section-content {
          flex: 4;
          opacity: 1;
          transform: scaleX(1);
          color: $bgcolor;
          box-sizing: border-box;
          padding: 2rem;

        }
        .section-title {
          display: none;
        }
      }

      .section-title {
        flex: 1;
        display: flex;
        align-items: center;
        text-align: center;
        color: white;

        h2 {
          margin: 0;
          font-size: 2rem;
          line-height: 3rem;
          letter-spacing: 0.1rem;
          position: revert;
          z-index: 1;
          padding: 1rem;
          border-top: 0.1rem solid white;
          width: 70vw;
          text-align: left;
        }
      }

      .section-content {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;
        padding: 0;
        opacity: 0;
        //transition: all .25s .1s ease-out;
      }
    }
  }
.warranty-container{
  .warranty-text{
    display: flex;
    flex-direction: column;
    position: absolute;
    h2{
      margin-left: 1rem;
      text-align: left;
      padding: 1rem;
      top: 2rem;
    }
    ul{
      margin-top: 10rem;
      list-style-type: disc;
      padding: 4rem;
      font-size: 2rem;
      margin-left: 2rem;
      li{
        padding-bottom:1rem ;
        line-height: 2.4rem;
      }
    }
  }
}
.check-container{
  background-color: $textcolor;
  color: white;
  margin-top: 43rem;
  p{
    font-size: 2rem;
    text-align: center;
    padding: 2rem 1rem 0rem 1rem;
    line-height: 2.5rem;
  }
  .check-elements{
    display: flex;
    flex-direction: column;
    padding: 4rem;
    .check-element{
      margin: 1.5rem;
      min-height: 30rem;
      color: $textcolor;
      background-repeat: no-repeat;
      &:nth-child(1){
        background-image: url("../img/minuty.png");
      }
      &:nth-child(2){
        background-image: url("../img/sprzet.png");
      }
      &:nth-child(3){
        background-image: url("../img/opiekun.png");
      }
      p{
        margin-top: 80%;
        font-weight: 700;
        text-align: left;
      }


    }
  }
}
.footer-container{
  background: #000000;
  display: flex;
  flex-direction: column;
  color: $bgcolor;
  .footer-contact,.footer-menu{
    font-size: 2rem;
    padding: 1rem;
    a{
      color: $bgcolor;
      text-decoration: none;
    }
  }
  .footer-contact{
    display: flex;
    flex-direction: column;
    a{
      margin-top: 1rem;
    }
  }
  .footer-menu{
    li{
      margin-top: 1rem;

    }
    li:hover{
      text-decoration: underline;

    }
  }
  .footer-rule{
    padding: 1rem;
    font-size: 1.5rem;
    p{
      margin: 0.8rem 0 0.5rem 0;
    }
    img{
      vertical-align:middle;
    }
  }
}

