@media (min-width: 150px) and (orientation: portrait) {
  html {
    font-size: 4px; } }

@media (min-width: 220px) and (orientation: portrait) {
  html {
    font-size: 8.7px; } }

@media (min-width: 320px) and (orientation: portrait) {
  html {
    font-size: 10px; } }

@media (min-width: 360px) and (orientation: portrait) {
  html {
    font-size: 10px; }
  .wrapper #navbar-btn {
    margin-right: -18rem; } }

@media (min-width: 410px) and (orientation: portrait) {
  .wrapper #navbar-btn {
    margin-right: -23rem; } }

@media (min-width: 430px) {
  .wrapper #navbar-btn {
    margin-right: -30rem; } }

@media (min-width: 474px) {
  .accordion-container .accordion-elements.active {
    min-height: 80vh; }
    .accordion-container .accordion-elements.active h2:after {
      bottom: 1.2em; } }

@media (min-width: 530px) and (orientation: portrait) {
  .wrapper #navbar-btn {
    margin-right: -38rem; } }

@media (min-width: 630px) {
  .wrapper #navbar-btn {
    margin-right: -45rem; } }

@media (min-width: 720px) {
  .wrapper #navbar-btn {
    margin-right: -55rem; } }

@media (min-width: 820px) {
  .wrapper {
    justify-content: space-around; }
    .wrapper #navbar-btn {
      display: none; }
    .wrapper .navbar-menu {
      position: static;
      transform: translateX(0);
      transition: .5s ease-in-out; }
      .wrapper .navbar-menu li {
        float: left;
        display: block;
        padding: 2rem 1rem 2rem 1rem;
        text-align: center;
        background: #ffffff;
        margin: 0;
        border: 1px solid white; }
        .wrapper .navbar-menu li a {
          font-size: 1.6rem;
          color: #26241E;
          text-decoration: none; }
        .wrapper .navbar-menu li:last-child {
          box-shadow: none; }
        .wrapper .navbar-menu li:hover {
          color: #000000;
          text-shadow: 0.001rem 0.001rem 0.009rem #000000; }
    .wrapper .navbar-phone {
      display: block;
      padding-top: 2rem; }
      .wrapper .navbar-phone a {
        color: #26241E;
        text-decoration: none;
        font-size: 1.3rem; }
        .wrapper .navbar-phone a img {
          vertical-align: middle;
          margin-right: 1rem; }
        .wrapper .navbar-phone a:hover {
          color: #000000;
          text-shadow: .001rem .001rem .009rem #000000; }
  .wrapper-linie {
    height: 40rem; }
  .form-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh; }
    .form-container .form-information {
      width: 30vw;
      align-items: flex-start; }
      .form-container .form-information .form-information-title {
        text-align: left;
        font-size: 3.5rem;
        line-height: 4rem;
        margin: 0;
        padding: 0 0 5rem 0; }
      .form-container .form-information .form-contact {
        font-size: 2rem; }
    .form-container .form-wrapper .form-data {
      flex-direction: row;
      justify-content: center; }
    .form-container .form-wrapper input, .form-container .form-wrapper textarea {
      width: 20vw; }
    .form-container .form-wrapper .form-area textarea {
      width: 40vw; }
    .form-container .form-wrapper .form-area button {
      margin: 1rem 0 3rem 30vw; }
  .footer-container {
    flex-direction: row;
    justify-content: space-around; } }

@media (min-width: 845px) {
  .wrapper .navbar-phone img {
    vertical-align: middle;
    margin-right: 1rem; } }

@media (min-width: 1280px) {
  .footer-container {
    height: 20rem;
    justify-content: space-between;
    align-items: center;
    color: #ffffff; }
    .footer-container .footer-contact, .footer-container .footer-menu {
      font-size: 2rem;
      padding: 1rem; }
      .footer-container .footer-contact a, .footer-container .footer-menu a {
        color: #ffffff;
        text-decoration: none; }
    .footer-container .footer-contact {
      display: flex;
      flex-direction: column; }
      .footer-container .footer-contact a {
        margin-top: 1rem; }
    .footer-container .footer-menu ul {
      display: flex; }
      .footer-container .footer-menu ul li {
        margin-top: 1rem;
        padding: 1rem; }
      .footer-container .footer-menu ul li:hover {
        text-decoration: underline; }
    .footer-container .footer-rule {
      padding: 1rem;
      font-size: 1.5rem; }
      .footer-container .footer-rule p {
        margin: 0.8rem 0 0.5rem 0; }
      .footer-container .footer-rule img {
        vertical-align: middle; } }

@media (min-width: 1500px) {
  html {
    font-size: 13px; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoicndkLWtvbnRha3QuY3NzIiwic291cmNlcyI6WyJyd2Qta29udGFrdC5zY3NzIiwidmFyaWFibGVzLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCBcInZhcmlhYmxlc1wiO1xyXG5AbWVkaWEgKG1pbi13aWR0aDogMTUwcHgpIGFuZCAob3JpZW50YXRpb246IHBvcnRyYWl0KSB7XHJcbiAgaHRtbHtcclxuICAgIGZvbnQtc2l6ZTogNHB4O1xyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDIyMHB4KSBhbmQgKG9yaWVudGF0aW9uOiBwb3J0cmFpdCkge1xyXG4gIGh0bWx7XHJcbiAgICBmb250LXNpemU6IDguN3B4O1xyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDMyMHB4KSBhbmQgKG9yaWVudGF0aW9uOiBwb3J0cmFpdCkge1xyXG4gIGh0bWx7XHJcbiAgICBmb250LXNpemU6IDEwcHg7XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogMzYwcHgpIGFuZCAob3JpZW50YXRpb246IHBvcnRyYWl0KSB7XHJcbiAgaHRtbHtcclxuICAgIGZvbnQtc2l6ZTogMTBweDtcclxuICB9XHJcbiAgLndyYXBwZXJ7XHJcbiAgICAjbmF2YmFyLWJ0bntcclxuICAgICAgbWFyZ2luLXJpZ2h0OiAtMThyZW07XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogNDEwcHgpIGFuZCAob3JpZW50YXRpb246IHBvcnRyYWl0KSB7XHJcbiAgLndyYXBwZXJ7XHJcbiAgICAjbmF2YmFyLWJ0bntcclxuICAgICAgbWFyZ2luLXJpZ2h0OiAtMjNyZW07XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogNDMwcHgpIHtcclxuICAud3JhcHBlcntcclxuICAgICNuYXZiYXItYnRue1xyXG4gICAgICBtYXJnaW4tcmlnaHQ6IC0zMHJlbTtcclxuICAgIH1cclxuICB9XHJcbn1cclxuQG1lZGlhIChtaW4td2lkdGg6IDQ3NHB4KSB7XHJcbiAgLmFjY29yZGlvbi1jb250YWluZXJ7XHJcbiAgICAuYWNjb3JkaW9uLWVsZW1lbnRzIHtcclxuICAgICAgJi5hY3RpdmUge1xyXG4gICAgICAgIG1pbi1oZWlnaHQ6IDgwdmg7XHJcbiAgICAgICAgaDIge1xyXG4gICAgICAgICAgJjphZnRlcntcclxuICAgICAgICAgICAgYm90dG9tOjEuMmVtO1xyXG4gICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxuXHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiA1MzBweCkgYW5kIChvcmllbnRhdGlvbjogcG9ydHJhaXQpIHtcclxuICAud3JhcHBlcntcclxuICAgICNuYXZiYXItYnRue1xyXG4gICAgICBtYXJnaW4tcmlnaHQ6IC0zOHJlbTtcclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiA2MzBweCkge1xyXG4gIC53cmFwcGVye1xyXG4gICAgI25hdmJhci1idG57XHJcbiAgICAgIG1hcmdpbi1yaWdodDogLTQ1cmVtO1xyXG4gICAgfVxyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDcyMHB4KSB7XHJcbiAgLndyYXBwZXJ7XHJcbiAgICAjbmF2YmFyLWJ0bntcclxuICAgICAgbWFyZ2luLXJpZ2h0OiAtNTVyZW07XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogODIwcHgpIHtcclxuICAud3JhcHBlciB7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcclxuICAgICNuYXZiYXItYnRuIHtcclxuICAgICAgZGlzcGxheTogbm9uZTtcclxuICAgIH1cclxuICAgIC5uYXZiYXItbWVudSB7XHJcbiAgICAgIHBvc2l0aW9uOiBzdGF0aWM7XHJcbiAgICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWCgwKTtcclxuICAgICAgdHJhbnNpdGlvbjogLjVzIGVhc2UtaW4tb3V0O1xyXG4gICAgICBsaSB7XHJcbiAgICAgICAgZmxvYXQ6IGxlZnQ7XHJcbiAgICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICAgICAgcGFkZGluZzogMnJlbSAxcmVtIDJyZW0gMXJlbTtcclxuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICAgICAgYmFja2dyb3VuZDogJGJnY29sb3I7XHJcbiAgICAgICAgbWFyZ2luOiAwO1xyXG4gICAgICAgIGJvcmRlcjogMXB4IHNvbGlkIHdoaXRlO1xyXG4gICAgICAgIGEge1xyXG4gICAgICAgICAgZm9udC1zaXplOiAxLjZyZW07XHJcbiAgICAgICAgICBjb2xvcjogJHRleHRjb2xvcjtcclxuICAgICAgICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcclxuICAgICAgICB9XHJcbiAgICAgICAgJjpsYXN0LWNoaWxkIHtcclxuICAgICAgICAgIGJveC1zaGFkb3c6IG5vbmU7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICY6aG92ZXIge1xyXG4gICAgICAgICAgY29sb3I6ICMwMDAwMDA7XHJcbiAgICAgICAgICB0ZXh0LXNoYWRvdzogMC4wMDFyZW0gMC4wMDFyZW0gMC4wMDlyZW0gIzAwMDAwMDtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuICAgIH1cclxuICAgIC5uYXZiYXItcGhvbmUge1xyXG4gICAgICBkaXNwbGF5OiBibG9jaztcclxuICAgICAgcGFkZGluZy10b3A6IDJyZW07XHJcbiAgICAgIGF7XHJcbiAgICAgICAgY29sb3I6ICR0ZXh0Y29sb3I7XHJcbiAgICAgICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG4gICAgICAgIGZvbnQtc2l6ZTogMS4zcmVtO1xyXG4gICAgICAgIGltZyB7XHJcbiAgICAgICAgICB2ZXJ0aWNhbC1hbGlnbjptaWRkbGU7XHJcbiAgICAgICAgICBtYXJnaW4tcmlnaHQ6IDFyZW07XHJcbiAgICAgICAgfVxyXG4gICAgICAgICY6aG92ZXJ7XHJcbiAgICAgICAgICBjb2xvcjogIzAwMDAwMDtcclxuICAgICAgICAgIHRleHQtc2hhZG93OiAuMDAxcmVtIC4wMDFyZW0gLjAwOXJlbSAjMDAwMDAwO1xyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxuICAud3JhcHBlci1saW5pZXtcclxuICAgIGhlaWdodDogNDByZW07XHJcbiAgfVxyXG4gIC5mb3JtLWNvbnRhaW5lcntcclxuICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWV2ZW5seTtcclxuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcbiAgICBoZWlnaHQ6IDEwMHZoO1xyXG4gICAgLmZvcm0taW5mb3JtYXRpb257XHJcbiAgICAgIHdpZHRoOiAzMHZ3O1xyXG4gICAgICBhbGlnbi1pdGVtczogZmxleC1zdGFydDtcclxuICAgICAgLmZvcm0taW5mb3JtYXRpb24tdGl0bGV7XHJcbiAgICAgICAgdGV4dC1hbGlnbjogbGVmdDtcclxuICAgICAgICBmb250LXNpemU6IDMuNXJlbTtcclxuICAgICAgICBsaW5lLWhlaWdodDogNHJlbTtcclxuICAgICAgICBtYXJnaW46IDA7XHJcbiAgICAgICAgcGFkZGluZzogMCAwIDVyZW0gMDtcclxuICAgICAgfVxyXG4gICAgICAuZm9ybS1jb250YWN0e1xyXG4gICAgICAgIGZvbnQtc2l6ZTogMnJlbTtcclxuICAgICAgfVxyXG4gICAgfVxyXG5cclxuICAgIC5mb3JtLXdyYXBwZXJ7XHJcbiAgICAgIC5mb3JtLWRhdGF7XHJcbiAgICAgICAgZmxleC1kaXJlY3Rpb246IHJvdztcclxuICAgICAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcclxuICAgICAgfVxyXG5cclxuICAgICAgaW5wdXQsdGV4dGFyZWF7XHJcbiAgICAgICAgd2lkdGg6IDIwdnc7XHJcbiAgICAgIH1cclxuXHJcbiAgICAgIC5mb3JtLWFyZWF7XHJcbiAgICAgICAgdGV4dGFyZWF7XHJcbiAgICAgICAgICB3aWR0aDogNDB2dztcclxuICAgICAgICB9XHJcbiAgICAgICAgYnV0dG9ue1xyXG4gICAgICAgICAgbWFyZ2luOiAxcmVtIDAgM3JlbSAzMHZ3IDtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuXHJcbiAgICB9XHJcbiAgfVxyXG4gIC5mb290ZXItY29udGFpbmVye1xyXG4gICAgZmxleC1kaXJlY3Rpb246IHJvdztcclxuICAgIGp1c3RpZnktY29udGVudDogc3BhY2UtYXJvdW5kO1xyXG4gIH1cclxufVxyXG5AbWVkaWEgKG1pbi13aWR0aDogODQ1cHgpe1xyXG4gIC53cmFwcGVyIHtcclxuXHJcbiAgICAubmF2YmFyLXBob25lIHtcclxuICAgICAgaW1nIHtcclxuICAgICAgICB2ZXJ0aWNhbC1hbGlnbjptaWRkbGU7XHJcbiAgICAgICAgbWFyZ2luLXJpZ2h0OiAxcmVtO1xyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogMTAyMHB4KSB7XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiAxMjgwcHgpIHtcclxuICAuZm9vdGVyLWNvbnRhaW5lcntcclxuICAgIGhlaWdodDogMjByZW07XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWJldHdlZW47XHJcbiAgICBhbGlnbi1pdGVtczogY2VudGVyO1xyXG4gICAgY29sb3I6ICRiZ2NvbG9yO1xyXG4gICAgLmZvb3Rlci1jb250YWN0LC5mb290ZXItbWVudXtcclxuICAgICAgZm9udC1zaXplOiAycmVtO1xyXG4gICAgICBwYWRkaW5nOiAxcmVtO1xyXG4gICAgICBhe1xyXG4gICAgICAgIGNvbG9yOiAkYmdjb2xvcjtcclxuICAgICAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbiAgICAgIH1cclxuICAgIH1cclxuICAgIC5mb290ZXItY29udGFjdHtcclxuICAgICAgZGlzcGxheTogZmxleDtcclxuICAgICAgZmxleC1kaXJlY3Rpb246IGNvbHVtbjtcclxuICAgICAgYXtcclxuICAgICAgICBtYXJnaW4tdG9wOiAxcmVtO1xyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgICAuZm9vdGVyLW1lbnV7XHJcbiAgICAgIHVse1xyXG4gICAgICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICAgICAgbGl7XHJcbiAgICAgICAgICBtYXJnaW4tdG9wOiAxcmVtO1xyXG4gICAgICAgICAgcGFkZGluZzogMXJlbTtcclxuICAgICAgICB9XHJcbiAgICAgICAgbGk6aG92ZXJ7XHJcbiAgICAgICAgICB0ZXh0LWRlY29yYXRpb246IHVuZGVybGluZTtcclxuXHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgICAuZm9vdGVyLXJ1bGV7XHJcbiAgICAgIHBhZGRpbmc6IDFyZW07XHJcbiAgICAgIGZvbnQtc2l6ZTogMS41cmVtO1xyXG4gICAgICBwe1xyXG4gICAgICAgIG1hcmdpbjogMC44cmVtIDAgMC41cmVtIDA7XHJcbiAgICAgIH1cclxuICAgICAgaW1ne1xyXG4gICAgICAgIHZlcnRpY2FsLWFsaWduOm1pZGRsZTtcclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDE1MDBweCkge1xyXG4gIGh0bWx7XHJcbiAgICBmb250LXNpemU6IDEzcHg7XHJcbiAgfVxyXG59XHJcbiIsIiR0ZXh0Y29sb3I6ICMyNjI0MUU7XHJcbiRiZ2NvbG9yOiAjZmZmZmZmO1xyXG4kbGluZS1jb2xvcjogI0U5RTlFOTtcclxuXHJcblxyXG4iXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0EsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLLE9BQU8sV0FBVyxFQUFFLFFBQVE7RUFDbEQsQUFBQSxJQUFJLENBQUE7SUFDRixTQUFTLEVBQUUsR0FBRyxHQUNmOztBQUdILE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSyxPQUFPLFdBQVcsRUFBRSxRQUFRO0VBQ2xELEFBQUEsSUFBSSxDQUFBO0lBQ0YsU0FBUyxFQUFFLEtBQUssR0FDakI7O0FBR0gsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLLE9BQU8sV0FBVyxFQUFFLFFBQVE7RUFDbEQsQUFBQSxJQUFJLENBQUE7SUFDRixTQUFTLEVBQUUsSUFBSSxHQUNoQjs7QUFHSCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUssT0FBTyxXQUFXLEVBQUUsUUFBUTtFQUNsRCxBQUFBLElBQUksQ0FBQTtJQUNGLFNBQVMsRUFBRSxJQUFJLEdBQ2hCO0VBQ0QsQUFDRSxRQURNLENBQ04sV0FBVyxDQUFBO0lBQ1QsWUFBWSxFQUFFLE1BQU0sR0FDckI7O0FBSUwsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLLE9BQU8sV0FBVyxFQUFFLFFBQVE7RUFDbEQsQUFDRSxRQURNLENBQ04sV0FBVyxDQUFBO0lBQ1QsWUFBWSxFQUFFLE1BQU0sR0FDckI7O0FBSUwsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLO0VBQ3RCLEFBQ0UsUUFETSxDQUNOLFdBQVcsQ0FBQTtJQUNULFlBQVksRUFBRSxNQUFNLEdBQ3JCOztBQUdMLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUN0QixBQUNFLG9CQURrQixDQUNsQixtQkFBbUIsQUFDakIsT0FBUSxDQUFDO0lBQ1AsVUFBVSxFQUFFLElBQUksR0FNakI7SUFUTCxBQUlNLG9CQUpjLENBQ2xCLG1CQUFtQixBQUNqQixPQUFRLENBRU4sRUFBRSxBQUNBLE1BQU8sQ0FBQTtNQUNMLE1BQU0sRUFBQyxLQUFLLEdBQ2I7O0FBUVgsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLLE9BQU8sV0FBVyxFQUFFLFFBQVE7RUFDbEQsQUFDRSxRQURNLENBQ04sV0FBVyxDQUFBO0lBQ1QsWUFBWSxFQUFFLE1BQU0sR0FDckI7O0FBSUwsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLO0VBQ3RCLEFBQ0UsUUFETSxDQUNOLFdBQVcsQ0FBQTtJQUNULFlBQVksRUFBRSxNQUFNLEdBQ3JCOztBQUlMLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUN0QixBQUNFLFFBRE0sQ0FDTixXQUFXLENBQUE7SUFDVCxZQUFZLEVBQUUsTUFBTSxHQUNyQjs7QUFJTCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7RUFDdEIsQUFBQSxRQUFRLENBQUM7SUFDUCxlQUFlLEVBQUUsWUFBWSxHQStDOUI7SUFoREQsQUFFRSxRQUZNLENBRU4sV0FBVyxDQUFDO01BQ1YsT0FBTyxFQUFFLElBQUksR0FDZDtJQUpILEFBS0UsUUFMTSxDQUtOLFlBQVksQ0FBQztNQUNYLFFBQVEsRUFBRSxNQUFNO01BQ2hCLFNBQVMsRUFBRSxhQUFhO01BQ3hCLFVBQVUsRUFBRSxlQUFlLEdBc0I1QjtNQTlCSCxBQVNJLFFBVEksQ0FLTixZQUFZLENBSVYsRUFBRSxDQUFDO1FBQ0QsS0FBSyxFQUFFLElBQUk7UUFDWCxPQUFPLEVBQUUsS0FBSztRQUNkLE9BQU8sRUFBRSxtQkFBbUI7UUFDNUIsVUFBVSxFQUFFLE1BQU07UUFDbEIsVUFBVSxFQ25HUixPQUFPO1FEb0dULE1BQU0sRUFBRSxDQUFDO1FBQ1QsTUFBTSxFQUFFLGVBQWUsR0FheEI7UUE3QkwsQUFpQk0sUUFqQkUsQ0FLTixZQUFZLENBSVYsRUFBRSxDQVFBLENBQUMsQ0FBQztVQUNBLFNBQVMsRUFBRSxNQUFNO1VBQ2pCLEtBQUssRUN6R0gsT0FBTztVRDBHVCxlQUFlLEVBQUUsSUFBSSxHQUN0QjtRQXJCUCxBQVNJLFFBVEksQ0FLTixZQUFZLENBSVYsRUFBRSxBQWFBLFdBQVksQ0FBQztVQUNYLFVBQVUsRUFBRSxJQUFJLEdBQ2pCO1FBeEJQLEFBU0ksUUFUSSxDQUtOLFlBQVksQ0FJVixFQUFFLEFBZ0JBLE1BQU8sQ0FBQztVQUNOLEtBQUssRUFBRSxPQUFPO1VBQ2QsV0FBVyxFQUFFLGtDQUFrQyxHQUNoRDtJQTVCUCxBQStCRSxRQS9CTSxDQStCTixhQUFhLENBQUM7TUFDWixPQUFPLEVBQUUsS0FBSztNQUNkLFdBQVcsRUFBRSxJQUFJLEdBY2xCO01BL0NILEFBa0NJLFFBbENJLENBK0JOLGFBQWEsQ0FHWCxDQUFDLENBQUE7UUFDQyxLQUFLLEVDekhELE9BQU87UUQwSFgsZUFBZSxFQUFFLElBQUk7UUFDckIsU0FBUyxFQUFFLE1BQU0sR0FTbEI7UUE5Q0wsQUFzQ00sUUF0Q0UsQ0ErQk4sYUFBYSxDQUdYLENBQUMsQ0FJQyxHQUFHLENBQUM7VUFDRixjQUFjLEVBQUMsTUFBTTtVQUNyQixZQUFZLEVBQUUsSUFBSSxHQUNuQjtRQXpDUCxBQWtDSSxRQWxDSSxDQStCTixhQUFhLENBR1gsQ0FBQyxBQVFDLE1BQU8sQ0FBQTtVQUNMLEtBQUssRUFBRSxPQUFPO1VBQ2QsV0FBVyxFQUFFLCtCQUErQixHQUM3QztFQUlQLEFBQUEsY0FBYyxDQUFBO0lBQ1osTUFBTSxFQUFFLEtBQUssR0FDZDtFQUNELEFBQUEsZUFBZSxDQUFBO0lBQ2IsT0FBTyxFQUFFLElBQUk7SUFDYixlQUFlLEVBQUUsWUFBWTtJQUM3QixXQUFXLEVBQUUsTUFBTTtJQUNuQixNQUFNLEVBQUUsS0FBSyxHQW9DZDtJQXhDRCxBQUtFLGVBTGEsQ0FLYixpQkFBaUIsQ0FBQTtNQUNmLEtBQUssRUFBRSxJQUFJO01BQ1gsV0FBVyxFQUFFLFVBQVUsR0FXeEI7TUFsQkgsQUFRSSxlQVJXLENBS2IsaUJBQWlCLENBR2YsdUJBQXVCLENBQUE7UUFDckIsVUFBVSxFQUFFLElBQUk7UUFDaEIsU0FBUyxFQUFFLE1BQU07UUFDakIsV0FBVyxFQUFFLElBQUk7UUFDakIsTUFBTSxFQUFFLENBQUM7UUFDVCxPQUFPLEVBQUUsVUFBVSxHQUNwQjtNQWRMLEFBZUksZUFmVyxDQUtiLGlCQUFpQixDQVVmLGFBQWEsQ0FBQTtRQUNYLFNBQVMsRUFBRSxJQUFJLEdBQ2hCO0lBakJMLEFBcUJJLGVBckJXLENBb0JiLGFBQWEsQ0FDWCxVQUFVLENBQUE7TUFDUixjQUFjLEVBQUUsR0FBRztNQUNuQixlQUFlLEVBQUUsTUFBTSxHQUN4QjtJQXhCTCxBQTBCSSxlQTFCVyxDQW9CYixhQUFhLENBTVgsS0FBSyxFQTFCVCxBQTBCVSxlQTFCSyxDQW9CYixhQUFhLENBTUwsUUFBUSxDQUFBO01BQ1osS0FBSyxFQUFFLElBQUksR0FDWjtJQTVCTCxBQStCTSxlQS9CUyxDQW9CYixhQUFhLENBVVgsVUFBVSxDQUNSLFFBQVEsQ0FBQTtNQUNOLEtBQUssRUFBRSxJQUFJLEdBQ1o7SUFqQ1AsQUFrQ00sZUFsQ1MsQ0FvQmIsYUFBYSxDQVVYLFVBQVUsQ0FJUixNQUFNLENBQUE7TUFDSixNQUFNLEVBQUUsZ0JBQWlCLEdBQzFCO0VBS1AsQUFBQSxpQkFBaUIsQ0FBQTtJQUNmLGNBQWMsRUFBRSxHQUFHO0lBQ25CLGVBQWUsRUFBRSxZQUFZLEdBQzlCOztBQUVILE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUN0QixBQUdJLFFBSEksQ0FFTixhQUFhLENBQ1gsR0FBRyxDQUFDO0lBQ0YsY0FBYyxFQUFDLE1BQU07SUFDckIsWUFBWSxFQUFFLElBQUksR0FDbkI7O0FBUVAsTUFBTSxFQUFFLFNBQVMsRUFBRSxNQUFNO0VBQ3ZCLEFBQUEsaUJBQWlCLENBQUE7SUFDZixNQUFNLEVBQUUsS0FBSztJQUNiLGVBQWUsRUFBRSxhQUFhO0lBQzlCLFdBQVcsRUFBRSxNQUFNO0lBQ25CLEtBQUssRUMzTUMsT0FBTyxHRGtQZDtJQTNDRCxBQUtFLGlCQUxlLENBS2YsZUFBZSxFQUxqQixBQUtrQixpQkFMRCxDQUtDLFlBQVksQ0FBQTtNQUMxQixTQUFTLEVBQUUsSUFBSTtNQUNmLE9BQU8sRUFBRSxJQUFJLEdBS2Q7TUFaSCxBQVFJLGlCQVJhLENBS2YsZUFBZSxDQUdiLENBQUMsRUFSTCxBQVFJLGlCQVJhLENBS0MsWUFBWSxDQUcxQixDQUFDLENBQUE7UUFDQyxLQUFLLEVDaE5ILE9BQU87UURpTlQsZUFBZSxFQUFFLElBQUksR0FDdEI7SUFYTCxBQWFFLGlCQWJlLENBYWYsZUFBZSxDQUFBO01BQ2IsT0FBTyxFQUFFLElBQUk7TUFDYixjQUFjLEVBQUUsTUFBTSxHQUl2QjtNQW5CSCxBQWdCSSxpQkFoQmEsQ0FhZixlQUFlLENBR2IsQ0FBQyxDQUFBO1FBQ0MsVUFBVSxFQUFFLElBQUksR0FDakI7SUFsQkwsQUFxQkksaUJBckJhLENBb0JmLFlBQVksQ0FDVixFQUFFLENBQUE7TUFDQSxPQUFPLEVBQUUsSUFBSSxHQVNkO01BL0JMLEFBdUJNLGlCQXZCVyxDQW9CZixZQUFZLENBQ1YsRUFBRSxDQUVBLEVBQUUsQ0FBQTtRQUNBLFVBQVUsRUFBRSxJQUFJO1FBQ2hCLE9BQU8sRUFBRSxJQUFJLEdBQ2Q7TUExQlAsQUEyQk0saUJBM0JXLENBb0JmLFlBQVksQ0FDVixFQUFFLENBTUEsRUFBRSxBQUFBLE1BQU0sQ0FBQTtRQUNOLGVBQWUsRUFBRSxTQUFTLEdBRTNCO0lBOUJQLEFBaUNFLGlCQWpDZSxDQWlDZixZQUFZLENBQUE7TUFDVixPQUFPLEVBQUUsSUFBSTtNQUNiLFNBQVMsRUFBRSxNQUFNLEdBT2xCO01BMUNILEFBb0NJLGlCQXBDYSxDQWlDZixZQUFZLENBR1YsQ0FBQyxDQUFBO1FBQ0MsTUFBTSxFQUFFLGlCQUFpQixHQUMxQjtNQXRDTCxBQXVDSSxpQkF2Q2EsQ0FpQ2YsWUFBWSxDQU1WLEdBQUcsQ0FBQTtRQUNELGNBQWMsRUFBQyxNQUFNLEdBQ3RCOztBQUtQLE1BQU0sRUFBRSxTQUFTLEVBQUUsTUFBTTtFQUN2QixBQUFBLElBQUksQ0FBQTtJQUNGLFNBQVMsRUFBRSxJQUFJLEdBQ2hCIn0= */
