@media (min-width: 150px) and (orientation: portrait) {
  html {
    font-size: 4px; } }

@media (min-width: 220px) and (orientation: portrait) {
  html {
    font-size: 8.7px; } }

@media (min-width: 320px) and (orientation: portrait) {
  html {
    font-size: 10px; } }

@media (min-width: 360px) and (orientation: portrait) {
  html {
    font-size: 10px; }
  .wrapper #navbar-btn {
    margin-right: -18rem; } }

@media (min-width: 410px) and (orientation: portrait) {
  .wrapper #navbar-btn {
    margin-right: -23rem; }
  .accordion-container .accordion-elements.active {
    min-height: 80vh; } }

@media (min-width: 430px) {
  .wrapper #navbar-btn {
    margin-right: -30rem; }
  .check-container {
    margin-top: 23rem; } }

@media (min-width: 474px) {
  .accordion-container .accordion-elements.active {
    min-height: 80vh; }
    .accordion-container .accordion-elements.active h2:after {
      bottom: 1.2em; } }

@media (min-width: 530px) and (orientation: portrait) {
  .wrapper #navbar-btn {
    margin-right: -38rem; }
  .warranty-container .warranty-text ul {
    margin-top: 13rem; }
    .warranty-container .warranty-text ul li {
      padding-bottom: 2rem; } }

@media (min-width: 630px) {
  .wrapper #navbar-btn {
    margin-right: -45rem; }
  .warranty-container .warranty-text {
    margin-top: 2rem; }
    .warranty-container .warranty-text ul {
      margin-top: 7rem; }
      .warranty-container .warranty-text ul li {
        padding-bottom: 2rem; }
  .check-container p {
    padding: 4rem 2rem 3rem 2rem; }
  .check-container .check-elements {
    flex-direction: row; }
    .check-container .check-elements .check-element {
      min-width: 20rem;
      max-width: 20rem; }
  .accordion-container .accordion-elements.active {
    min-height: 80vh; } }

@media (min-width: 720px) {
  .wrapper #navbar-btn {
    margin-right: -55rem; } }

@media (min-width: 820px) {
  .wrapper {
    justify-content: space-around; }
    .wrapper #navbar-btn {
      display: none; }
    .wrapper .navbar-menu {
      position: static;
      transform: translateX(0);
      transition: .5s ease-in-out; }
      .wrapper .navbar-menu li {
        float: left;
        display: block;
        padding: 2rem 1rem 2rem 1rem;
        text-align: center;
        background: #ffffff;
        margin: 0;
        border: 1px solid white; }
        .wrapper .navbar-menu li a {
          font-size: 1.6rem;
          color: #26241E;
          text-decoration: none; }
        .wrapper .navbar-menu li:last-child {
          box-shadow: none; }
        .wrapper .navbar-menu li:hover {
          color: #000000;
          text-shadow: 0.001rem 0.001rem 0.009rem #000000; }
    .wrapper .navbar-phone {
      display: block;
      padding-top: 2rem; }
      .wrapper .navbar-phone a {
        color: #26241E;
        text-decoration: none;
        font-size: 1.3rem; }
        .wrapper .navbar-phone a img {
          vertical-align: middle; }
        .wrapper .navbar-phone a:hover {
          color: #000000;
          text-shadow: .001rem .001rem .009rem #000000; }
  .wrapper-linie {
    height: 40rem; }
  .check-container .check-elements .check-element {
    min-width: 25rem;
    max-width: 25rem; }
  .footer-container {
    flex-direction: row;
    justify-content: space-around; } }

@media (min-width: 1280px) {
  .accordion-container .accordion-wrapper {
    flex-direction: row;
    min-height: 100vh;
    max-height: 100vh; }
  .accordion-container .accordion-elements {
    min-width: 25vw;
    background-size: auto; }
    .accordion-container .accordion-elements.active {
      min-width: 39vw;
      max-width: 39vw;
      font-size: 1.5rem; }
      .accordion-container .accordion-elements.active h2 {
        margin: 4rem 10rem 2rem 0; }
      .accordion-container .accordion-elements.active p {
        margin: 1rem 3.5rem 1rem 3.5rem; }
    .accordion-container .accordion-elements .section-content {
      flex-direction: column; }
  .slim1:nth-child(2), .slim1:nth-child(3), .slim1:nth-child(4) {
    min-width: 13vw; }
  .slim2:nth-child(1), .slim2:nth-child(3), .slim2:nth-child(4) {
    min-width: 13vw; }
  .slim3:nth-child(1), .slim3:nth-child(2), .slim3:nth-child(4) {
    min-width: 13vw; }
  .slim4:nth-child(1), .slim4:nth-child(2), .slim4:nth-child(3) {
    min-width: 13vw; }
  .warranty-container .warranty-text h2 {
    width: 30vw; }
  .warranty-container .warranty-text ul {
    margin-top: 0;
    margin-left: 30vw;
    font-size: 2rem; }
    .warranty-container .warranty-text ul li {
      line-height: 2.9rem; } }

@media (min-width: 1500px) {
  html {
    font-size: 13px; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoicndkLXBvZHN0cm9uYS5jc3MiLCJzb3VyY2VzIjpbInJ3ZC1wb2RzdHJvbmEuc2NzcyIsInZhcmlhYmxlcy5zY3NzIl0sInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgXCJ2YXJpYWJsZXNcIjtcclxuQG1lZGlhIChtaW4td2lkdGg6IDE1MHB4KSBhbmQgKG9yaWVudGF0aW9uOiBwb3J0cmFpdCkge1xyXG4gIGh0bWx7XHJcbiAgICBmb250LXNpemU6IDRweDtcclxuICB9XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiAyMjBweCkgYW5kIChvcmllbnRhdGlvbjogcG9ydHJhaXQpIHtcclxuICBodG1se1xyXG4gICAgZm9udC1zaXplOiA4LjdweDtcclxuICB9XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiAzMjBweCkgYW5kIChvcmllbnRhdGlvbjogcG9ydHJhaXQpIHtcclxuICBodG1se1xyXG4gICAgZm9udC1zaXplOiAxMHB4O1xyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDM2MHB4KSBhbmQgKG9yaWVudGF0aW9uOiBwb3J0cmFpdCkge1xyXG4gIGh0bWx7XHJcbiAgICBmb250LXNpemU6IDEwcHg7XHJcbiAgfVxyXG4gIC53cmFwcGVye1xyXG4gICAgI25hdmJhci1idG57XHJcbiAgICAgIG1hcmdpbi1yaWdodDogLTE4cmVtO1xyXG4gICAgfVxyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDQxMHB4KSBhbmQgKG9yaWVudGF0aW9uOiBwb3J0cmFpdCkge1xyXG4gIC53cmFwcGVye1xyXG4gICAgI25hdmJhci1idG57XHJcbiAgICAgIG1hcmdpbi1yaWdodDogLTIzcmVtO1xyXG4gICAgfVxyXG4gIH1cclxuICAuYWNjb3JkaW9uLWNvbnRhaW5lcntcclxuICAgIC5hY2NvcmRpb24tZWxlbWVudHMge1xyXG4gICAgICAmLmFjdGl2ZSB7XHJcbiAgICAgICAgbWluLWhlaWdodDogODB2aDtcclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDQzMHB4KSB7XHJcbiAgLndyYXBwZXJ7XHJcbiAgICAjbmF2YmFyLWJ0bntcclxuICAgICAgbWFyZ2luLXJpZ2h0OiAtMzByZW07XHJcbiAgICB9XHJcbiAgfVxyXG4gIC5jaGVjay1jb250YWluZXIge1xyXG4gICAgbWFyZ2luLXRvcDogMjNyZW07XHJcbiAgfVxyXG59XHJcbkBtZWRpYSAobWluLXdpZHRoOiA0NzRweCkge1xyXG4gIC5hY2NvcmRpb24tY29udGFpbmVye1xyXG4gICAgLmFjY29yZGlvbi1lbGVtZW50cyB7XHJcbiAgICAgICYuYWN0aXZlIHtcclxuICAgICAgICBtaW4taGVpZ2h0OiA4MHZoO1xyXG4gICAgICAgIGgyIHtcclxuICAgICAgICAgICY6YWZ0ZXJ7XHJcbiAgICAgICAgICAgIGJvdHRvbToxLjJlbTtcclxuICAgICAgICAgIH1cclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcblxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogNTMwcHgpIGFuZCAob3JpZW50YXRpb246IHBvcnRyYWl0KSB7XHJcbiAgLndyYXBwZXJ7XHJcbiAgICAjbmF2YmFyLWJ0bntcclxuICAgICAgbWFyZ2luLXJpZ2h0OiAtMzhyZW07XHJcbiAgICB9XHJcbiAgfVxyXG4gIC53YXJyYW50eS1jb250YWluZXJ7XHJcbiAgICAud2FycmFudHktdGV4dHtcclxuICAgICAgdWx7XHJcbiAgICAgICAgbWFyZ2luLXRvcDogMTNyZW07XHJcbiAgICAgICAgbGl7XHJcbiAgICAgICAgICBwYWRkaW5nLWJvdHRvbToycmVtIDtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiA2MzBweCkge1xyXG4gIC53cmFwcGVye1xyXG4gICAgI25hdmJhci1idG57XHJcbiAgICAgIG1hcmdpbi1yaWdodDogLTQ1cmVtO1xyXG4gICAgfVxyXG4gIH1cclxuICAud2FycmFudHktY29udGFpbmVye1xyXG4gICAgLndhcnJhbnR5LXRleHR7XHJcbiAgICAgIG1hcmdpbi10b3A6IDJyZW07XHJcbiAgICAgIHVse1xyXG4gICAgICAgIG1hcmdpbi10b3A6IDdyZW07XHJcbiAgICAgICAgbGl7XHJcbiAgICAgICAgICBwYWRkaW5nLWJvdHRvbToycmVtIDtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcbiAgLmNoZWNrLWNvbnRhaW5lcntcclxuICAgIHB7XHJcbiAgICAgIHBhZGRpbmc6IDRyZW0gMnJlbSAzcmVtIDJyZW07XHJcbiAgICB9XHJcbiAgICAuY2hlY2stZWxlbWVudHN7XHJcbiAgICAgIGZsZXgtZGlyZWN0aW9uOiByb3c7XHJcbiAgICAgIC5jaGVjay1lbGVtZW50e1xyXG4gICAgICAgIG1pbi13aWR0aDogMjByZW07XHJcbiAgICAgICAgbWF4LXdpZHRoOiAyMHJlbTtcclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxuICAuYWNjb3JkaW9uLWNvbnRhaW5lcntcclxuICAgIC5hY2NvcmRpb24tZWxlbWVudHMge1xyXG4gICAgICAmLmFjdGl2ZSB7XHJcbiAgICAgICAgbWluLWhlaWdodDogODB2aDtcclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDcyMHB4KSB7XHJcbiAgLndyYXBwZXJ7XHJcbiAgICAjbmF2YmFyLWJ0bntcclxuICAgICAgbWFyZ2luLXJpZ2h0OiAtNTVyZW07XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogODIwcHgpIHtcclxuICAud3JhcHBlciB7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcclxuICAgICNuYXZiYXItYnRuIHtcclxuICAgICAgZGlzcGxheTogbm9uZTtcclxuICAgIH1cclxuICAgIC5uYXZiYXItbWVudSB7XHJcbiAgICAgIHBvc2l0aW9uOiBzdGF0aWM7XHJcbiAgICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWCgwKTtcclxuICAgICAgdHJhbnNpdGlvbjogLjVzIGVhc2UtaW4tb3V0O1xyXG4gICAgICBsaSB7XHJcbiAgICAgICAgZmxvYXQ6IGxlZnQ7XHJcbiAgICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICAgICAgcGFkZGluZzogMnJlbSAxcmVtIDJyZW0gMXJlbTtcclxuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICAgICAgYmFja2dyb3VuZDogJGJnY29sb3I7XHJcbiAgICAgICAgbWFyZ2luOiAwO1xyXG4gICAgICAgIGJvcmRlcjogMXB4IHNvbGlkIHdoaXRlO1xyXG4gICAgICAgIGEge1xyXG4gICAgICAgICAgZm9udC1zaXplOiAxLjZyZW07XHJcbiAgICAgICAgICBjb2xvcjogJHRleHRjb2xvcjtcclxuICAgICAgICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcclxuICAgICAgICB9XHJcbiAgICAgICAgJjpsYXN0LWNoaWxkIHtcclxuICAgICAgICAgIGJveC1zaGFkb3c6IG5vbmU7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICY6aG92ZXIge1xyXG4gICAgICAgICAgY29sb3I6ICMwMDAwMDA7XHJcbiAgICAgICAgICB0ZXh0LXNoYWRvdzogMC4wMDFyZW0gMC4wMDFyZW0gMC4wMDlyZW0gIzAwMDAwMDtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuICAgIH1cclxuICAgIC5uYXZiYXItcGhvbmUge1xyXG4gICAgICBkaXNwbGF5OiBibG9jaztcclxuICAgICAgcGFkZGluZy10b3A6IDJyZW07XHJcbiAgICAgIGF7XHJcbiAgICAgICAgY29sb3I6ICR0ZXh0Y29sb3I7XHJcbiAgICAgICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG4gICAgICAgIGZvbnQtc2l6ZTogMS4zcmVtO1xyXG4gICAgICAgIGltZyB7XHJcbiAgICAgICAgICB2ZXJ0aWNhbC1hbGlnbjptaWRkbGU7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICY6aG92ZXJ7XHJcbiAgICAgICAgICBjb2xvcjogIzAwMDAwMDtcclxuICAgICAgICAgIHRleHQtc2hhZG93OiAuMDAxcmVtIC4wMDFyZW0gLjAwOXJlbSAjMDAwMDAwO1xyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxuICAud3JhcHBlci1saW5pZXtcclxuICAgIGhlaWdodDogNDByZW07XHJcbiAgfVxyXG4gIC5jaGVjay1jb250YWluZXJ7XHJcbiAgICAuY2hlY2stZWxlbWVudHN7XHJcbiAgICAgIC5jaGVjay1lbGVtZW50e1xyXG4gICAgICAgIG1pbi13aWR0aDogMjVyZW07XHJcbiAgICAgICAgbWF4LXdpZHRoOiAyNXJlbTtcclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxuICAuZm9vdGVyLWNvbnRhaW5lcntcclxuICAgIGZsZXgtZGlyZWN0aW9uOiByb3c7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcclxuICB9XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiAxMDIwcHgpIHtcclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDEyODBweCkge1xyXG4gIC5hY2NvcmRpb24tY29udGFpbmVye1xyXG5cclxuICAgIC5hY2NvcmRpb24td3JhcHBlciB7XHJcbiAgICAgIGZsZXgtZGlyZWN0aW9uOnJvdztcclxuICAgICAgbWluLWhlaWdodDogMTAwdmg7XHJcbiAgICAgIG1heC1oZWlnaHQ6IDEwMHZoO1xyXG4gICAgfVxyXG5cclxuICAgIC5hY2NvcmRpb24tZWxlbWVudHMge1xyXG4gICAgICBtaW4td2lkdGg6IDI1dnc7XHJcbiAgICAgIGJhY2tncm91bmQtc2l6ZTogYXV0bztcclxuICAgICAgJi5hY3RpdmUge1xyXG4gICAgICAgIG1pbi13aWR0aDogMzl2dztcclxuICAgICAgICBtYXgtd2lkdGg6IDM5dnc7XHJcbiAgICAgICAgZm9udC1zaXplOiAxLjVyZW07XHJcbiAgICAgICAgaDIge1xyXG4gICAgICAgICAgbWFyZ2luOiA0cmVtIDEwcmVtIDJyZW0gMDtcclxuICAgICAgICB9XHJcbiAgICAgICAgcHtcclxuICAgICAgICAgIG1hcmdpbjogMXJlbSAzLjVyZW0gMXJlbSAzLjVyZW07XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcblxyXG4gICAgICAuc2VjdGlvbi1jb250ZW50IHtcclxuICAgICAgICBmbGV4LWRpcmVjdGlvbjogY29sdW1uO1xyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgfVxyXG4gIC5zbGltMXtcclxuICAgICY6bnRoLWNoaWxkKDIpLCY6bnRoLWNoaWxkKDMpLCY6bnRoLWNoaWxkKDQpe1xyXG4gICAgICBtaW4td2lkdGg6IDEzdnc7XHJcbiAgICB9XHJcbiAgfVxyXG4gIC5zbGltMntcclxuICAgICY6bnRoLWNoaWxkKDEpLCY6bnRoLWNoaWxkKDMpLCY6bnRoLWNoaWxkKDQpe1xyXG4gICAgICBtaW4td2lkdGg6IDEzdnc7XHJcbiAgICB9XHJcbiAgfVxyXG4gIC5zbGltM3tcclxuICAgICY6bnRoLWNoaWxkKDEpLCY6bnRoLWNoaWxkKDIpLCY6bnRoLWNoaWxkKDQpe1xyXG4gICAgICBtaW4td2lkdGg6IDEzdnc7XHJcbiAgICB9XHJcbiAgfVxyXG4gIC5zbGltNHtcclxuICAgICY6bnRoLWNoaWxkKDEpLCY6bnRoLWNoaWxkKDIpLCY6bnRoLWNoaWxkKDMpe1xyXG4gICAgICBtaW4td2lkdGg6IDEzdnc7XHJcbiAgICB9XHJcbiAgfVxyXG4gIC53YXJyYW50eS1jb250YWluZXJ7XHJcbiAgICAud2FycmFudHktdGV4dHtcclxuICAgICAgaDJ7XHJcbiAgICAgICAgd2lkdGg6IDMwdnc7XHJcbiAgICAgIH1cclxuICAgICAgdWx7XHJcbiAgICAgICAgbWFyZ2luLXRvcDogMDtcclxuICAgICAgICBtYXJnaW4tbGVmdDogMzB2dztcclxuICAgICAgICBmb250LXNpemU6IDJyZW07XHJcbiAgICAgICAgbGl7XHJcbiAgICAgICAgICBsaW5lLWhlaWdodDogMi45cmVtO1xyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDE1MDBweCkge1xyXG4gIGh0bWx7XHJcbiAgICBmb250LXNpemU6IDEzcHg7XHJcbiAgfVxyXG59XHJcbiIsIiR0ZXh0Y29sb3I6ICMyNjI0MUU7XHJcbiRiZ2NvbG9yOiAjZmZmZmZmO1xyXG4kbGluZS1jb2xvcjogI0U5RTlFOTsiXSwibmFtZXMiOltdLCJtYXBwaW5ncyI6IkFBQ0EsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLLE9BQU8sV0FBVyxFQUFFLFFBQVE7RUFDbEQsQUFBQSxJQUFJLENBQUE7SUFDRixTQUFTLEVBQUUsR0FBRyxHQUNmOztBQUdILE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSyxPQUFPLFdBQVcsRUFBRSxRQUFRO0VBQ2xELEFBQUEsSUFBSSxDQUFBO0lBQ0YsU0FBUyxFQUFFLEtBQUssR0FDakI7O0FBR0gsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLLE9BQU8sV0FBVyxFQUFFLFFBQVE7RUFDbEQsQUFBQSxJQUFJLENBQUE7SUFDRixTQUFTLEVBQUUsSUFBSSxHQUNoQjs7QUFHSCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUssT0FBTyxXQUFXLEVBQUUsUUFBUTtFQUNsRCxBQUFBLElBQUksQ0FBQTtJQUNGLFNBQVMsRUFBRSxJQUFJLEdBQ2hCO0VBQ0QsQUFDRSxRQURNLENBQ04sV0FBVyxDQUFBO0lBQ1QsWUFBWSxFQUFFLE1BQU0sR0FDckI7O0FBSUwsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLLE9BQU8sV0FBVyxFQUFFLFFBQVE7RUFDbEQsQUFDRSxRQURNLENBQ04sV0FBVyxDQUFBO0lBQ1QsWUFBWSxFQUFFLE1BQU0sR0FDckI7RUFFSCxBQUNFLG9CQURrQixDQUNsQixtQkFBbUIsQUFDakIsT0FBUSxDQUFDO0lBQ1AsVUFBVSxFQUFFLElBQUksR0FDakI7O0FBS1AsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLO0VBQ3RCLEFBQ0UsUUFETSxDQUNOLFdBQVcsQ0FBQTtJQUNULFlBQVksRUFBRSxNQUFNLEdBQ3JCO0VBRUgsQUFBQSxnQkFBZ0IsQ0FBQztJQUNmLFVBQVUsRUFBRSxLQUFLLEdBQ2xCOztBQUVILE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUN0QixBQUNFLG9CQURrQixDQUNsQixtQkFBbUIsQUFDakIsT0FBUSxDQUFDO0lBQ1AsVUFBVSxFQUFFLElBQUksR0FNakI7SUFUTCxBQUlNLG9CQUpjLENBQ2xCLG1CQUFtQixBQUNqQixPQUFRLENBRU4sRUFBRSxBQUNBLE1BQU8sQ0FBQTtNQUNMLE1BQU0sRUFBQyxLQUFLLEdBQ2I7O0FBUVgsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLLE9BQU8sV0FBVyxFQUFFLFFBQVE7RUFDbEQsQUFDRSxRQURNLENBQ04sV0FBVyxDQUFBO0lBQ1QsWUFBWSxFQUFFLE1BQU0sR0FDckI7RUFFSCxBQUVJLG1CQUZlLENBQ2pCLGNBQWMsQ0FDWixFQUFFLENBQUE7SUFDQSxVQUFVLEVBQUUsS0FBSyxHQUlsQjtJQVBMLEFBSU0sbUJBSmEsQ0FDakIsY0FBYyxDQUNaLEVBQUUsQ0FFQSxFQUFFLENBQUE7TUFDQSxjQUFjLEVBQUMsSUFBSyxHQUNyQjs7QUFNVCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7RUFDdEIsQUFDRSxRQURNLENBQ04sV0FBVyxDQUFBO0lBQ1QsWUFBWSxFQUFFLE1BQU0sR0FDckI7RUFFSCxBQUNFLG1CQURpQixDQUNqQixjQUFjLENBQUE7SUFDWixVQUFVLEVBQUUsSUFBSSxHQU9qQjtJQVRILEFBR0ksbUJBSGUsQ0FDakIsY0FBYyxDQUVaLEVBQUUsQ0FBQTtNQUNBLFVBQVUsRUFBRSxJQUFJLEdBSWpCO01BUkwsQUFLTSxtQkFMYSxDQUNqQixjQUFjLENBRVosRUFBRSxDQUVBLEVBQUUsQ0FBQTtRQUNBLGNBQWMsRUFBQyxJQUFLLEdBQ3JCO0VBSVAsQUFDRSxnQkFEYyxDQUNkLENBQUMsQ0FBQTtJQUNDLE9BQU8sRUFBRSxtQkFBbUIsR0FDN0I7RUFISCxBQUlFLGdCQUpjLENBSWQsZUFBZSxDQUFBO0lBQ2IsY0FBYyxFQUFFLEdBQUcsR0FLcEI7SUFWSCxBQU1JLGdCQU5ZLENBSWQsZUFBZSxDQUViLGNBQWMsQ0FBQTtNQUNaLFNBQVMsRUFBRSxLQUFLO01BQ2hCLFNBQVMsRUFBRSxLQUFLLEdBQ2pCO0VBR0wsQUFDRSxvQkFEa0IsQ0FDbEIsbUJBQW1CLEFBQ2pCLE9BQVEsQ0FBQztJQUNQLFVBQVUsRUFBRSxJQUFJLEdBQ2pCOztBQUtQLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUN0QixBQUNFLFFBRE0sQ0FDTixXQUFXLENBQUE7SUFDVCxZQUFZLEVBQUUsTUFBTSxHQUNyQjs7QUFJTCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7RUFDdEIsQUFBQSxRQUFRLENBQUM7SUFDUCxlQUFlLEVBQUUsWUFBWSxHQThDOUI7SUEvQ0QsQUFFRSxRQUZNLENBRU4sV0FBVyxDQUFDO01BQ1YsT0FBTyxFQUFFLElBQUksR0FDZDtJQUpILEFBS0UsUUFMTSxDQUtOLFlBQVksQ0FBQztNQUNYLFFBQVEsRUFBRSxNQUFNO01BQ2hCLFNBQVMsRUFBRSxhQUFhO01BQ3hCLFVBQVUsRUFBRSxlQUFlLEdBc0I1QjtNQTlCSCxBQVNJLFFBVEksQ0FLTixZQUFZLENBSVYsRUFBRSxDQUFDO1FBQ0QsS0FBSyxFQUFFLElBQUk7UUFDWCxPQUFPLEVBQUUsS0FBSztRQUNkLE9BQU8sRUFBRSxtQkFBbUI7UUFDNUIsVUFBVSxFQUFFLE1BQU07UUFDbEIsVUFBVSxFQ3JKUixPQUFPO1FEc0pULE1BQU0sRUFBRSxDQUFDO1FBQ1QsTUFBTSxFQUFFLGVBQWUsR0FheEI7UUE3QkwsQUFpQk0sUUFqQkUsQ0FLTixZQUFZLENBSVYsRUFBRSxDQVFBLENBQUMsQ0FBQztVQUNBLFNBQVMsRUFBRSxNQUFNO1VBQ2pCLEtBQUssRUMzSkgsT0FBTztVRDRKVCxlQUFlLEVBQUUsSUFBSSxHQUN0QjtRQXJCUCxBQVNJLFFBVEksQ0FLTixZQUFZLENBSVYsRUFBRSxBQWFBLFdBQVksQ0FBQztVQUNYLFVBQVUsRUFBRSxJQUFJLEdBQ2pCO1FBeEJQLEFBU0ksUUFUSSxDQUtOLFlBQVksQ0FJVixFQUFFLEFBZ0JBLE1BQU8sQ0FBQztVQUNOLEtBQUssRUFBRSxPQUFPO1VBQ2QsV0FBVyxFQUFFLGtDQUFrQyxHQUNoRDtJQTVCUCxBQStCRSxRQS9CTSxDQStCTixhQUFhLENBQUM7TUFDWixPQUFPLEVBQUUsS0FBSztNQUNkLFdBQVcsRUFBRSxJQUFJLEdBYWxCO01BOUNILEFBa0NJLFFBbENJLENBK0JOLGFBQWEsQ0FHWCxDQUFDLENBQUE7UUFDQyxLQUFLLEVDM0tELE9BQU87UUQ0S1gsZUFBZSxFQUFFLElBQUk7UUFDckIsU0FBUyxFQUFFLE1BQU0sR0FRbEI7UUE3Q0wsQUFzQ00sUUF0Q0UsQ0ErQk4sYUFBYSxDQUdYLENBQUMsQ0FJQyxHQUFHLENBQUM7VUFDRixjQUFjLEVBQUMsTUFBTSxHQUN0QjtRQXhDUCxBQWtDSSxRQWxDSSxDQStCTixhQUFhLENBR1gsQ0FBQyxBQU9DLE1BQU8sQ0FBQTtVQUNMLEtBQUssRUFBRSxPQUFPO1VBQ2QsV0FBVyxFQUFFLCtCQUErQixHQUM3QztFQUlQLEFBQUEsY0FBYyxDQUFBO0lBQ1osTUFBTSxFQUFFLEtBQUssR0FDZDtFQUNELEFBRUksZ0JBRlksQ0FDZCxlQUFlLENBQ2IsY0FBYyxDQUFBO0lBQ1osU0FBUyxFQUFFLEtBQUs7SUFDaEIsU0FBUyxFQUFFLEtBQUssR0FDakI7RUFHTCxBQUFBLGlCQUFpQixDQUFBO0lBQ2YsY0FBYyxFQUFFLEdBQUc7SUFDbkIsZUFBZSxFQUFFLFlBQVksR0FDOUI7O0FBTUgsTUFBTSxFQUFFLFNBQVMsRUFBRSxNQUFNO0VBQ3ZCLEFBRUUsb0JBRmtCLENBRWxCLGtCQUFrQixDQUFDO0lBQ2pCLGNBQWMsRUFBQyxHQUFHO0lBQ2xCLFVBQVUsRUFBRSxLQUFLO0lBQ2pCLFVBQVUsRUFBRSxLQUFLLEdBQ2xCO0VBTkgsQUFRRSxvQkFSa0IsQ0FRbEIsbUJBQW1CLENBQUM7SUFDbEIsU0FBUyxFQUFFLElBQUk7SUFDZixlQUFlLEVBQUUsSUFBSSxHQWdCdEI7SUExQkgsQUFRRSxvQkFSa0IsQ0FRbEIsbUJBQW1CLEFBR2pCLE9BQVEsQ0FBQztNQUNQLFNBQVMsRUFBRSxJQUFJO01BQ2YsU0FBUyxFQUFFLElBQUk7TUFDZixTQUFTLEVBQUUsTUFBTSxHQU9sQjtNQXJCTCxBQWVNLG9CQWZjLENBUWxCLG1CQUFtQixBQUdqQixPQUFRLENBSU4sRUFBRSxDQUFDO1FBQ0QsTUFBTSxFQUFFLGlCQUFpQixHQUMxQjtNQWpCUCxBQWtCTSxvQkFsQmMsQ0FRbEIsbUJBQW1CLEFBR2pCLE9BQVEsQ0FPTixDQUFDLENBQUE7UUFDQyxNQUFNLEVBQUUsdUJBQXVCLEdBQ2hDO0lBcEJQLEFBdUJJLG9CQXZCZ0IsQ0FRbEIsbUJBQW1CLENBZWpCLGdCQUFnQixDQUFDO01BQ2YsY0FBYyxFQUFFLE1BQU0sR0FDdkI7RUFHTCxBQUNFLE1BREksQUFDSixVQUFZLENBQUEsQUFBQSxDQUFDLEdBRGYsQUFDaUIsTUFEWCxBQUNXLFVBQVksQ0FBQSxBQUFBLENBQUMsR0FEOUIsQUFDZ0MsTUFEMUIsQUFDMEIsVUFBWSxDQUFBLEFBQUEsQ0FBQyxFQUFDO0lBQzFDLFNBQVMsRUFBRSxJQUFJLEdBQ2hCO0VBRUgsQUFDRSxNQURJLEFBQ0osVUFBWSxDQUFBLEFBQUEsQ0FBQyxHQURmLEFBQ2lCLE1BRFgsQUFDVyxVQUFZLENBQUEsQUFBQSxDQUFDLEdBRDlCLEFBQ2dDLE1BRDFCLEFBQzBCLFVBQVksQ0FBQSxBQUFBLENBQUMsRUFBQztJQUMxQyxTQUFTLEVBQUUsSUFBSSxHQUNoQjtFQUVILEFBQ0UsTUFESSxBQUNKLFVBQVksQ0FBQSxBQUFBLENBQUMsR0FEZixBQUNpQixNQURYLEFBQ1csVUFBWSxDQUFBLEFBQUEsQ0FBQyxHQUQ5QixBQUNnQyxNQUQxQixBQUMwQixVQUFZLENBQUEsQUFBQSxDQUFDLEVBQUM7SUFDMUMsU0FBUyxFQUFFLElBQUksR0FDaEI7RUFFSCxBQUNFLE1BREksQUFDSixVQUFZLENBQUEsQUFBQSxDQUFDLEdBRGYsQUFDaUIsTUFEWCxBQUNXLFVBQVksQ0FBQSxBQUFBLENBQUMsR0FEOUIsQUFDZ0MsTUFEMUIsQUFDMEIsVUFBWSxDQUFBLEFBQUEsQ0FBQyxFQUFDO0lBQzFDLFNBQVMsRUFBRSxJQUFJLEdBQ2hCO0VBRUgsQUFFSSxtQkFGZSxDQUNqQixjQUFjLENBQ1osRUFBRSxDQUFBO0lBQ0EsS0FBSyxFQUFFLElBQUksR0FDWjtFQUpMLEFBS0ksbUJBTGUsQ0FDakIsY0FBYyxDQUlaLEVBQUUsQ0FBQTtJQUNBLFVBQVUsRUFBRSxDQUFDO0lBQ2IsV0FBVyxFQUFFLElBQUk7SUFDakIsU0FBUyxFQUFFLElBQUksR0FJaEI7SUFaTCxBQVNNLG1CQVRhLENBQ2pCLGNBQWMsQ0FJWixFQUFFLENBSUEsRUFBRSxDQUFBO01BQ0EsV0FBVyxFQUFFLE1BQU0sR0FDcEI7O0FBTVQsTUFBTSxFQUFFLFNBQVMsRUFBRSxNQUFNO0VBQ3ZCLEFBQUEsSUFBSSxDQUFBO0lBQ0YsU0FBUyxFQUFFLElBQUksR0FDaEIifQ== */
