@media (min-width: 150px) and (orientation: portrait) {
  html {
    font-size: 4px; } }

@media (min-width: 220px) and (orientation: portrait) {
  html {
    font-size: 8.7px; } }

@media (min-width: 320px) and (orientation: portrait) {
  html {
    font-size: 10px; } }

@media (min-width: 360px) and (orientation: portrait) {
  html {
    font-size: 10px; }
  .wrapper #navbar-btn {
    margin-right: -18rem; } }

@media (min-width: 410px) and (orientation: portrait) {
  .wrapper #navbar-btn {
    margin-right: -23rem; } }

@media (min-width: 430px) {
  .wrapper #navbar-btn {
    margin-right: -30rem; } }

@media (min-width: 474px) {
  .accordion-container .accordion-elements.active {
    min-height: 80vh; }
    .accordion-container .accordion-elements.active h2:after {
      bottom: 1.2em; } }

@media (min-width: 530px) and (orientation: portrait) {
  .wrapper #navbar-btn {
    margin-right: -38rem; } }

@media (min-width: 630px) {
  .wrapper #navbar-btn {
    margin-right: -45rem; } }

@media (min-width: 720px) {
  .wrapper #navbar-btn {
    margin-right: -55rem; } }

@media (min-width: 820px) {
  .wrapper {
    justify-content: space-around; }
    .wrapper #navbar-btn {
      display: none; }
    .wrapper .navbar-menu {
      position: static;
      transform: translateX(0);
      transition: .5s ease-in-out; }
      .wrapper .navbar-menu li {
        float: left;
        display: block;
        padding: 2rem 1rem 2rem 1rem;
        text-align: center;
        background: #ffffff;
        margin: 0;
        border: 1px solid white; }
        .wrapper .navbar-menu li a {
          font-size: 1.6rem;
          color: #26241E;
          text-decoration: none; }
        .wrapper .navbar-menu li:last-child {
          box-shadow: none; }
        .wrapper .navbar-menu li:hover {
          color: #000000;
          text-shadow: 0.001rem 0.001rem 0.009rem #000000; }
    .wrapper .navbar-phone {
      display: block;
      padding-top: 2rem; }
      .wrapper .navbar-phone a {
        color: #26241E;
        text-decoration: none;
        font-size: 1.3rem; }
        .wrapper .navbar-phone a img {
          vertical-align: middle; }
        .wrapper .navbar-phone a:hover {
          color: #000000;
          text-shadow: .001rem .001rem .009rem #000000; }
  .wrapper-linie {
    height: 40rem; }
  .form-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh; }
    .form-container .form-information {
      width: 30vw;
      align-items: flex-start; }
      .form-container .form-information .form-information-title {
        text-align: left;
        font-size: 3.5rem;
        line-height: 4rem;
        margin: 0;
        padding: 0 0 5rem 0; }
      .form-container .form-information .form-contact {
        font-size: 2rem; }
    .form-container .form-wrapper .form-data {
      flex-direction: row;
      justify-content: center; }
    .form-container .form-wrapper input, .form-container .form-wrapper textarea {
      width: 20vw; }
    .form-container .form-wrapper .form-area textarea {
      width: 40vw; }
    .form-container .form-wrapper .form-area button {
      margin: 1rem 0 3rem 30vw; }
  .footer-container {
    flex-direction: row;
    justify-content: space-around; } }

@media (min-width: 1500px) {
  html {
    font-size: 13px; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoicndkLWtvbnRha3QuY3NzIiwic291cmNlcyI6WyJyd2Qta29udGFrdC5zY3NzIiwidmFyaWFibGVzLnNjc3MiXSwic291cmNlc0NvbnRlbnQiOlsiQGltcG9ydCBcInZhcmlhYmxlc1wiO1xyXG5AbWVkaWEgKG1pbi13aWR0aDogMTUwcHgpIGFuZCAob3JpZW50YXRpb246IHBvcnRyYWl0KSB7XHJcbiAgaHRtbHtcclxuICAgIGZvbnQtc2l6ZTogNHB4O1xyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDIyMHB4KSBhbmQgKG9yaWVudGF0aW9uOiBwb3J0cmFpdCkge1xyXG4gIGh0bWx7XHJcbiAgICBmb250LXNpemU6IDguN3B4O1xyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDMyMHB4KSBhbmQgKG9yaWVudGF0aW9uOiBwb3J0cmFpdCkge1xyXG4gIGh0bWx7XHJcbiAgICBmb250LXNpemU6IDEwcHg7XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogMzYwcHgpIGFuZCAob3JpZW50YXRpb246IHBvcnRyYWl0KSB7XHJcbiAgaHRtbHtcclxuICAgIGZvbnQtc2l6ZTogMTBweDtcclxuICB9XHJcbiAgLndyYXBwZXJ7XHJcbiAgICAjbmF2YmFyLWJ0bntcclxuICAgICAgbWFyZ2luLXJpZ2h0OiAtMThyZW07XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogNDEwcHgpIGFuZCAob3JpZW50YXRpb246IHBvcnRyYWl0KSB7XHJcbiAgLndyYXBwZXJ7XHJcbiAgICAjbmF2YmFyLWJ0bntcclxuICAgICAgbWFyZ2luLXJpZ2h0OiAtMjNyZW07XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogNDMwcHgpIHtcclxuICAud3JhcHBlcntcclxuICAgICNuYXZiYXItYnRue1xyXG4gICAgICBtYXJnaW4tcmlnaHQ6IC0zMHJlbTtcclxuICAgIH1cclxuICB9XHJcbn1cclxuQG1lZGlhIChtaW4td2lkdGg6IDQ3NHB4KSB7XHJcbiAgLmFjY29yZGlvbi1jb250YWluZXJ7XHJcbiAgICAuYWNjb3JkaW9uLWVsZW1lbnRzIHtcclxuICAgICAgJi5hY3RpdmUge1xyXG4gICAgICAgIG1pbi1oZWlnaHQ6IDgwdmg7XHJcbiAgICAgICAgaDIge1xyXG4gICAgICAgICAgJjphZnRlcntcclxuICAgICAgICAgICAgYm90dG9tOjEuMmVtO1xyXG4gICAgICAgICAgfVxyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxuXHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiA1MzBweCkgYW5kIChvcmllbnRhdGlvbjogcG9ydHJhaXQpIHtcclxuICAud3JhcHBlcntcclxuICAgICNuYXZiYXItYnRue1xyXG4gICAgICBtYXJnaW4tcmlnaHQ6IC0zOHJlbTtcclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiA2MzBweCkge1xyXG4gIC53cmFwcGVye1xyXG4gICAgI25hdmJhci1idG57XHJcbiAgICAgIG1hcmdpbi1yaWdodDogLTQ1cmVtO1xyXG4gICAgfVxyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDcyMHB4KSB7XHJcbiAgLndyYXBwZXJ7XHJcbiAgICAjbmF2YmFyLWJ0bntcclxuICAgICAgbWFyZ2luLXJpZ2h0OiAtNTVyZW07XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogODIwcHgpIHtcclxuICAud3JhcHBlciB7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWFyb3VuZDtcclxuICAgICNuYXZiYXItYnRuIHtcclxuICAgICAgZGlzcGxheTogbm9uZTtcclxuICAgIH1cclxuICAgIC5uYXZiYXItbWVudSB7XHJcbiAgICAgIHBvc2l0aW9uOiBzdGF0aWM7XHJcbiAgICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWCgwKTtcclxuICAgICAgdHJhbnNpdGlvbjogLjVzIGVhc2UtaW4tb3V0O1xyXG4gICAgICBsaSB7XHJcbiAgICAgICAgZmxvYXQ6IGxlZnQ7XHJcbiAgICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICAgICAgcGFkZGluZzogMnJlbSAxcmVtIDJyZW0gMXJlbTtcclxuICAgICAgICB0ZXh0LWFsaWduOiBjZW50ZXI7XHJcbiAgICAgICAgYmFja2dyb3VuZDogJGJnY29sb3I7XHJcbiAgICAgICAgbWFyZ2luOiAwO1xyXG4gICAgICAgIGJvcmRlcjogMXB4IHNvbGlkIHdoaXRlO1xyXG4gICAgICAgIGEge1xyXG4gICAgICAgICAgZm9udC1zaXplOiAxLjZyZW07XHJcbiAgICAgICAgICBjb2xvcjogJHRleHRjb2xvcjtcclxuICAgICAgICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcclxuICAgICAgICB9XHJcbiAgICAgICAgJjpsYXN0LWNoaWxkIHtcclxuICAgICAgICAgIGJveC1zaGFkb3c6IG5vbmU7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICY6aG92ZXIge1xyXG4gICAgICAgICAgY29sb3I6ICMwMDAwMDA7XHJcbiAgICAgICAgICB0ZXh0LXNoYWRvdzogMC4wMDFyZW0gMC4wMDFyZW0gMC4wMDlyZW0gIzAwMDAwMDtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuICAgIH1cclxuICAgIC5uYXZiYXItcGhvbmUge1xyXG4gICAgICBkaXNwbGF5OiBibG9jaztcclxuICAgICAgcGFkZGluZy10b3A6IDJyZW07XHJcbiAgICAgIGF7XHJcbiAgICAgICAgY29sb3I6ICR0ZXh0Y29sb3I7XHJcbiAgICAgICAgdGV4dC1kZWNvcmF0aW9uOiBub25lO1xyXG4gICAgICAgIGZvbnQtc2l6ZTogMS4zcmVtO1xyXG4gICAgICAgIGltZyB7XHJcbiAgICAgICAgICB2ZXJ0aWNhbC1hbGlnbjptaWRkbGU7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICY6aG92ZXJ7XHJcbiAgICAgICAgICBjb2xvcjogIzAwMDAwMDtcclxuICAgICAgICAgIHRleHQtc2hhZG93OiAuMDAxcmVtIC4wMDFyZW0gLjAwOXJlbSAjMDAwMDAwO1xyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxuICAud3JhcHBlci1saW5pZXtcclxuICAgIGhlaWdodDogNDByZW07XHJcbiAgfVxyXG4gIC5mb3JtLWNvbnRhaW5lcntcclxuICAgIGRpc3BsYXk6IGZsZXg7XHJcbiAgICBqdXN0aWZ5LWNvbnRlbnQ6IHNwYWNlLWV2ZW5seTtcclxuICAgIGFsaWduLWl0ZW1zOiBjZW50ZXI7XHJcbiAgICBoZWlnaHQ6IDEwMHZoO1xyXG4gICAgLmZvcm0taW5mb3JtYXRpb257XHJcbiAgICAgIHdpZHRoOiAzMHZ3O1xyXG4gICAgICBhbGlnbi1pdGVtczogZmxleC1zdGFydDtcclxuICAgICAgLmZvcm0taW5mb3JtYXRpb24tdGl0bGV7XHJcbiAgICAgICAgdGV4dC1hbGlnbjogbGVmdDtcclxuICAgICAgICBmb250LXNpemU6IDMuNXJlbTtcclxuICAgICAgICBsaW5lLWhlaWdodDogNHJlbTtcclxuICAgICAgICBtYXJnaW46IDA7XHJcbiAgICAgICAgcGFkZGluZzogMCAwIDVyZW0gMDtcclxuICAgICAgfVxyXG4gICAgICAuZm9ybS1jb250YWN0e1xyXG4gICAgICAgIGZvbnQtc2l6ZTogMnJlbTtcclxuICAgICAgfVxyXG4gICAgfVxyXG5cclxuICAgIC5mb3JtLXdyYXBwZXJ7XHJcbiAgICAgIC5mb3JtLWRhdGF7XHJcbiAgICAgICAgZmxleC1kaXJlY3Rpb246IHJvdztcclxuICAgICAgICBqdXN0aWZ5LWNvbnRlbnQ6IGNlbnRlcjtcclxuICAgICAgfVxyXG5cclxuICAgICAgaW5wdXQsdGV4dGFyZWF7XHJcbiAgICAgICAgd2lkdGg6IDIwdnc7XHJcbiAgICAgIH1cclxuXHJcbiAgICAgIC5mb3JtLWFyZWF7XHJcbiAgICAgICAgdGV4dGFyZWF7XHJcbiAgICAgICAgICB3aWR0aDogNDB2dztcclxuICAgICAgICB9XHJcbiAgICAgICAgYnV0dG9ue1xyXG4gICAgICAgICAgbWFyZ2luOiAxcmVtIDAgM3JlbSAzMHZ3IDtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuXHJcbiAgICB9XHJcbiAgfVxyXG4gIC5mb290ZXItY29udGFpbmVye1xyXG4gICAgZmxleC1kaXJlY3Rpb246IHJvdztcclxuICAgIGp1c3RpZnktY29udGVudDogc3BhY2UtYXJvdW5kO1xyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDEwMjBweCkge1xyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogMTI4MHB4KSB7XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiAxNTAwcHgpIHtcclxuICBodG1se1xyXG4gICAgZm9udC1zaXplOiAxM3B4O1xyXG4gIH1cclxufVxyXG4iLCIkdGV4dGNvbG9yOiAjMjYyNDFFO1xyXG4kYmdjb2xvcjogI2ZmZmZmZjtcclxuJGxpbmUtY29sb3I6ICNFOUU5RTk7XHJcblxyXG5cclxuIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUNBLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSyxPQUFPLFdBQVcsRUFBRSxRQUFRO0VBQ2xELEFBQUEsSUFBSSxDQUFBO0lBQ0YsU0FBUyxFQUFFLEdBQUcsR0FDZjs7QUFHSCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUssT0FBTyxXQUFXLEVBQUUsUUFBUTtFQUNsRCxBQUFBLElBQUksQ0FBQTtJQUNGLFNBQVMsRUFBRSxLQUFLLEdBQ2pCOztBQUdILE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSyxPQUFPLFdBQVcsRUFBRSxRQUFRO0VBQ2xELEFBQUEsSUFBSSxDQUFBO0lBQ0YsU0FBUyxFQUFFLElBQUksR0FDaEI7O0FBR0gsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLLE9BQU8sV0FBVyxFQUFFLFFBQVE7RUFDbEQsQUFBQSxJQUFJLENBQUE7SUFDRixTQUFTLEVBQUUsSUFBSSxHQUNoQjtFQUNELEFBQ0UsUUFETSxDQUNOLFdBQVcsQ0FBQTtJQUNULFlBQVksRUFBRSxNQUFNLEdBQ3JCOztBQUlMLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSyxPQUFPLFdBQVcsRUFBRSxRQUFRO0VBQ2xELEFBQ0UsUUFETSxDQUNOLFdBQVcsQ0FBQTtJQUNULFlBQVksRUFBRSxNQUFNLEdBQ3JCOztBQUlMLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUN0QixBQUNFLFFBRE0sQ0FDTixXQUFXLENBQUE7SUFDVCxZQUFZLEVBQUUsTUFBTSxHQUNyQjs7QUFHTCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7RUFDdEIsQUFDRSxvQkFEa0IsQ0FDbEIsbUJBQW1CLEFBQ2pCLE9BQVEsQ0FBQztJQUNQLFVBQVUsRUFBRSxJQUFJLEdBTWpCO0lBVEwsQUFJTSxvQkFKYyxDQUNsQixtQkFBbUIsQUFDakIsT0FBUSxDQUVOLEVBQUUsQUFDQSxNQUFPLENBQUE7TUFDTCxNQUFNLEVBQUMsS0FBSyxHQUNiOztBQVFYLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSyxPQUFPLFdBQVcsRUFBRSxRQUFRO0VBQ2xELEFBQ0UsUUFETSxDQUNOLFdBQVcsQ0FBQTtJQUNULFlBQVksRUFBRSxNQUFNLEdBQ3JCOztBQUlMLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUN0QixBQUNFLFFBRE0sQ0FDTixXQUFXLENBQUE7SUFDVCxZQUFZLEVBQUUsTUFBTSxHQUNyQjs7QUFJTCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7RUFDdEIsQUFDRSxRQURNLENBQ04sV0FBVyxDQUFBO0lBQ1QsWUFBWSxFQUFFLE1BQU0sR0FDckI7O0FBSUwsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLO0VBQ3RCLEFBQUEsUUFBUSxDQUFDO0lBQ1AsZUFBZSxFQUFFLFlBQVksR0E4QzlCO0lBL0NELEFBRUUsUUFGTSxDQUVOLFdBQVcsQ0FBQztNQUNWLE9BQU8sRUFBRSxJQUFJLEdBQ2Q7SUFKSCxBQUtFLFFBTE0sQ0FLTixZQUFZLENBQUM7TUFDWCxRQUFRLEVBQUUsTUFBTTtNQUNoQixTQUFTLEVBQUUsYUFBYTtNQUN4QixVQUFVLEVBQUUsZUFBZSxHQXNCNUI7TUE5QkgsQUFTSSxRQVRJLENBS04sWUFBWSxDQUlWLEVBQUUsQ0FBQztRQUNELEtBQUssRUFBRSxJQUFJO1FBQ1gsT0FBTyxFQUFFLEtBQUs7UUFDZCxPQUFPLEVBQUUsbUJBQW1CO1FBQzVCLFVBQVUsRUFBRSxNQUFNO1FBQ2xCLFVBQVUsRUNuR1IsT0FBTztRRG9HVCxNQUFNLEVBQUUsQ0FBQztRQUNULE1BQU0sRUFBRSxlQUFlLEdBYXhCO1FBN0JMLEFBaUJNLFFBakJFLENBS04sWUFBWSxDQUlWLEVBQUUsQ0FRQSxDQUFDLENBQUM7VUFDQSxTQUFTLEVBQUUsTUFBTTtVQUNqQixLQUFLLEVDekdILE9BQU87VUQwR1QsZUFBZSxFQUFFLElBQUksR0FDdEI7UUFyQlAsQUFTSSxRQVRJLENBS04sWUFBWSxDQUlWLEVBQUUsQUFhQSxXQUFZLENBQUM7VUFDWCxVQUFVLEVBQUUsSUFBSSxHQUNqQjtRQXhCUCxBQVNJLFFBVEksQ0FLTixZQUFZLENBSVYsRUFBRSxBQWdCQSxNQUFPLENBQUM7VUFDTixLQUFLLEVBQUUsT0FBTztVQUNkLFdBQVcsRUFBRSxrQ0FBa0MsR0FDaEQ7SUE1QlAsQUErQkUsUUEvQk0sQ0ErQk4sYUFBYSxDQUFDO01BQ1osT0FBTyxFQUFFLEtBQUs7TUFDZCxXQUFXLEVBQUUsSUFBSSxHQWFsQjtNQTlDSCxBQWtDSSxRQWxDSSxDQStCTixhQUFhLENBR1gsQ0FBQyxDQUFBO1FBQ0MsS0FBSyxFQ3pIRCxPQUFPO1FEMEhYLGVBQWUsRUFBRSxJQUFJO1FBQ3JCLFNBQVMsRUFBRSxNQUFNLEdBUWxCO1FBN0NMLEFBc0NNLFFBdENFLENBK0JOLGFBQWEsQ0FHWCxDQUFDLENBSUMsR0FBRyxDQUFDO1VBQ0YsY0FBYyxFQUFDLE1BQU0sR0FDdEI7UUF4Q1AsQUFrQ0ksUUFsQ0ksQ0ErQk4sYUFBYSxDQUdYLENBQUMsQUFPQyxNQUFPLENBQUE7VUFDTCxLQUFLLEVBQUUsT0FBTztVQUNkLFdBQVcsRUFBRSwrQkFBK0IsR0FDN0M7RUFJUCxBQUFBLGNBQWMsQ0FBQTtJQUNaLE1BQU0sRUFBRSxLQUFLLEdBQ2Q7RUFDRCxBQUFBLGVBQWUsQ0FBQTtJQUNiLE9BQU8sRUFBRSxJQUFJO0lBQ2IsZUFBZSxFQUFFLFlBQVk7SUFDN0IsV0FBVyxFQUFFLE1BQU07SUFDbkIsTUFBTSxFQUFFLEtBQUssR0FvQ2Q7SUF4Q0QsQUFLRSxlQUxhLENBS2IsaUJBQWlCLENBQUE7TUFDZixLQUFLLEVBQUUsSUFBSTtNQUNYLFdBQVcsRUFBRSxVQUFVLEdBV3hCO01BbEJILEFBUUksZUFSVyxDQUtiLGlCQUFpQixDQUdmLHVCQUF1QixDQUFBO1FBQ3JCLFVBQVUsRUFBRSxJQUFJO1FBQ2hCLFNBQVMsRUFBRSxNQUFNO1FBQ2pCLFdBQVcsRUFBRSxJQUFJO1FBQ2pCLE1BQU0sRUFBRSxDQUFDO1FBQ1QsT0FBTyxFQUFFLFVBQVUsR0FDcEI7TUFkTCxBQWVJLGVBZlcsQ0FLYixpQkFBaUIsQ0FVZixhQUFhLENBQUE7UUFDWCxTQUFTLEVBQUUsSUFBSSxHQUNoQjtJQWpCTCxBQXFCSSxlQXJCVyxDQW9CYixhQUFhLENBQ1gsVUFBVSxDQUFBO01BQ1IsY0FBYyxFQUFFLEdBQUc7TUFDbkIsZUFBZSxFQUFFLE1BQU0sR0FDeEI7SUF4QkwsQUEwQkksZUExQlcsQ0FvQmIsYUFBYSxDQU1YLEtBQUssRUExQlQsQUEwQlUsZUExQkssQ0FvQmIsYUFBYSxDQU1MLFFBQVEsQ0FBQTtNQUNaLEtBQUssRUFBRSxJQUFJLEdBQ1o7SUE1QkwsQUErQk0sZUEvQlMsQ0FvQmIsYUFBYSxDQVVYLFVBQVUsQ0FDUixRQUFRLENBQUE7TUFDTixLQUFLLEVBQUUsSUFBSSxHQUNaO0lBakNQLEFBa0NNLGVBbENTLENBb0JiLGFBQWEsQ0FVWCxVQUFVLENBSVIsTUFBTSxDQUFBO01BQ0osTUFBTSxFQUFFLGdCQUFpQixHQUMxQjtFQUtQLEFBQUEsaUJBQWlCLENBQUE7SUFDZixjQUFjLEVBQUUsR0FBRztJQUNuQixlQUFlLEVBQUUsWUFBWSxHQUM5Qjs7QUFTSCxNQUFNLEVBQUUsU0FBUyxFQUFFLE1BQU07RUFDdkIsQUFBQSxJQUFJLENBQUE7SUFDRixTQUFTLEVBQUUsSUFBSSxHQUNoQiJ9 */
