@media (min-width: 150px) and (orientation: portrait) {
  html {
    font-size: 4px; } }

@media (min-width: 220px) and (orientation: portrait) {
  html {
    font-size: 8.7px; } }

@media (min-width: 320px) and (orientation: portrait) {
  html {
    font-size: 10px; } }

@media (min-width: 360px) and (orientation: portrait) {
  html {
    font-size: 10px; }
  .wrapper #navbar-btn {
    margin-right: -18rem; } }

@media (min-width: 410px) and (orientation: portrait) {
  .wrapper #navbar-btn {
    margin-right: -23rem; } }

@media (min-width: 430px) {
  .wrapper #navbar-btn {
    margin-right: -30rem; } }

@media (min-width: 530px) and (orientation: portrait) {
  .wrapper #navbar-btn {
    margin-right: -38rem; } }

@media (min-width: 630px) {
  .wrapper #navbar-btn {
    margin-right: -45rem; } }

@media (min-width: 720px) {
  .wrapper #navbar-btn {
    margin-right: -55rem; } }

@media (min-width: 820px) {
  .rectangle-wrapper {
    position: relative;
    display: block; }
    .rectangle-wrapper .rectangle-number {
      position: absolute;
      font-size: 1.5rem;
      margin-top: -2rem;
      margin-left: 6rem; }
    .rectangle-wrapper .rectangle-title {
      border: none;
      margin-top: 4rem;
      margin-left: 5.6rem;
      font-size: 2.7rem; }
    .rectangle-wrapper .rectangle-line {
      z-index: -2;
      height: 15rem;
      margin-left: 6.3rem;
      margin-top: 2rem;
      position: relative; }
    .rectangle-wrapper .rectangle-description {
      position: absolute;
      text-transform: uppercase;
      transform: rotate(-90deg);
      margin-top: 20rem;
      margin-left: -2.2rem; }
  .ot2s {
    display: flex;
    padding: 0; }
    .ot2s .rectangle-wrapper {
      width: 25vw; }
      .ot2s .rectangle-wrapper .rectangle-number {
        color: #26241E;
        margin-top: 15rem; }
      .ot2s .rectangle-wrapper .rectangle-line {
        margin-top: 13rem; }
      .ot2s .rectangle-wrapper .rectangle-description {
        margin-top: 47rem;
        margin-left: -1.8rem; }
    .ot2s .wrapper-linie {
      width: 55vw;
      padding-right: 20vw; }
  .wrapper {
    justify-content: space-around; }
    .wrapper #navbar-btn {
      display: none; }
    .wrapper .navbar-menu {
      position: static;
      transform: translateX(0);
      transition: .5s ease-in-out; }
      .wrapper .navbar-menu li {
        float: left;
        display: block;
        padding: 2rem 1rem 2rem 1rem;
        text-align: center;
        background: #ffffff;
        margin: 0;
        border: 1px solid white; }
        .wrapper .navbar-menu li a {
          font-size: 1.6rem;
          color: #26241E;
          text-decoration: none; }
        .wrapper .navbar-menu li:last-child {
          box-shadow: none; }
        .wrapper .navbar-menu li:hover {
          color: #000000;
          text-shadow: 0.001rem 0.001rem 0.009rem #000000; }
    .wrapper .navbar-phone {
      display: block;
      padding-top: 2rem; }
      .wrapper .navbar-phone a {
        color: #26241E;
        text-decoration: none;
        font-size: 1.3rem; }
        .wrapper .navbar-phone a img {
          vertical-align: middle; }
        .wrapper .navbar-phone a:hover {
          color: #000000;
          text-shadow: .001rem .001rem .009rem #000000; }
  .wrapper-linie {
    height: 70rem; }
  .services-container {
    flex-direction: row; }
    .services-container .services-element {
      width: 25vw; }
      .services-container .services-element .service-element-title {
        font-size: 1.5rem; }
      .services-container .services-element p {
        width: 60%; }
      .services-container .services-element:nth-child(1) {
        display: block;
        color: #ffffff; }
        .services-container .services-element:nth-child(1) p {
          border: none;
          margin-top: 4rem;
          margin-left: 5.6rem;
          font-size: 2.7rem; }
        .services-container .services-element:nth-child(1):hover {
          background-color: #26241E;
          opacity: 1; }
  .about-company-container {
    display: flex;
    justify-content: space-between; }
    .about-company-container .rectangle-wrapper {
      padding-top: 10rem;
      width: 25vw; }
      .about-company-container .rectangle-wrapper .rectangle-number {
        margin-top: 3rem; }
      .about-company-container .rectangle-wrapper .rectangle-title {
        color: #26241E;
        margin-top: -12rem;
        margin-left: 2.3rem; }
      .about-company-container .rectangle-wrapper .rectangle-line {
        margin-top: 10rem; }
      .about-company-container .rectangle-wrapper .rectangle-description {
        margin-top: 30rem;
        margin-left: -4.2rem; }
    .about-company-container .wrapper-linie {
      width: 75vw;
      height: 60rem; }
      .about-company-container .wrapper-linie h3 {
        display: none; }
      .about-company-container .wrapper-linie p {
        padding: 0 7rem 0 7rem; } }

/*# sourceMappingURL=data:application/json;charset=utf8;base64,eyJ2ZXJzaW9uIjozLCJmaWxlIjoicndkLmNzcyIsInNvdXJjZXMiOlsicndkLnNjc3MiLCJ2YXJpYWJsZXMuc2NzcyJdLCJzb3VyY2VzQ29udGVudCI6WyJAaW1wb3J0IFwidmFyaWFibGVzXCI7XHJcbkBtZWRpYSAobWluLXdpZHRoOiAxNTBweCkgYW5kIChvcmllbnRhdGlvbjogcG9ydHJhaXQpIHtcclxuICBodG1se1xyXG4gICAgZm9udC1zaXplOiA0cHg7XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogMjIwcHgpIGFuZCAob3JpZW50YXRpb246IHBvcnRyYWl0KSB7XHJcbiAgaHRtbHtcclxuICAgIGZvbnQtc2l6ZTogOC43cHg7XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogMzIwcHgpIGFuZCAob3JpZW50YXRpb246IHBvcnRyYWl0KSB7XHJcbiAgaHRtbHtcclxuICAgIGZvbnQtc2l6ZTogMTBweDtcclxuICB9XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiAzNjBweCkgYW5kIChvcmllbnRhdGlvbjogcG9ydHJhaXQpIHtcclxuICBodG1se1xyXG4gICAgZm9udC1zaXplOiAxMHB4O1xyXG4gIH1cclxuICAud3JhcHBlcntcclxuICAgICNuYXZiYXItYnRue1xyXG4gICAgICBtYXJnaW4tcmlnaHQ6IC0xOHJlbTtcclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiA0MTBweCkgYW5kIChvcmllbnRhdGlvbjogcG9ydHJhaXQpIHtcclxuICAud3JhcHBlcntcclxuICAgICNuYXZiYXItYnRue1xyXG4gICAgICBtYXJnaW4tcmlnaHQ6IC0yM3JlbTtcclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiA0MzBweCkge1xyXG4gIC53cmFwcGVye1xyXG4gICAgI25hdmJhci1idG57XHJcbiAgICAgIG1hcmdpbi1yaWdodDogLTMwcmVtO1xyXG4gICAgfVxyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDUzMHB4KSB7XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiA1MzBweCkgYW5kIChvcmllbnRhdGlvbjogcG9ydHJhaXQpIHtcclxuICAud3JhcHBlcntcclxuICAgICNuYXZiYXItYnRue1xyXG4gICAgICBtYXJnaW4tcmlnaHQ6IC0zOHJlbTtcclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiA2MzBweCkge1xyXG4gIC53cmFwcGVye1xyXG4gICAgI25hdmJhci1idG57XHJcbiAgICAgIG1hcmdpbi1yaWdodDogLTQ1cmVtO1xyXG4gICAgfVxyXG4gIH1cclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDcyMHB4KSB7XHJcbiAgLndyYXBwZXJ7XHJcbiAgICAjbmF2YmFyLWJ0bntcclxuICAgICAgbWFyZ2luLXJpZ2h0OiAtNTVyZW07XHJcbiAgICB9XHJcbiAgfVxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogODIwcHgpIHtcclxuICAucmVjdGFuZ2xlLXdyYXBwZXIge1xyXG4gICAgcG9zaXRpb246IHJlbGF0aXZlO1xyXG4gICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICAucmVjdGFuZ2xlLW51bWJlciB7XHJcbiAgICAgIHBvc2l0aW9uOiBhYnNvbHV0ZTtcclxuICAgICAgZm9udC1zaXplOiAxLjVyZW07XHJcbiAgICAgIG1hcmdpbi10b3A6IC0ycmVtO1xyXG4gICAgICBtYXJnaW4tbGVmdDogNnJlbTtcclxuICAgIH1cclxuICAgIC5yZWN0YW5nbGUtdGl0bGUge1xyXG4gICAgICBib3JkZXI6IG5vbmU7XHJcbiAgICAgIG1hcmdpbi10b3A6IDRyZW07XHJcbiAgICAgIG1hcmdpbi1sZWZ0OiA1LjZyZW07XHJcbiAgICAgIGZvbnQtc2l6ZTogMi43cmVtO1xyXG4gICAgfVxyXG4gICAgLnJlY3RhbmdsZS1saW5lIHtcclxuICAgICAgei1pbmRleDogLTI7XHJcbiAgICAgIGhlaWdodDogMTVyZW07XHJcbiAgICAgIG1hcmdpbi1sZWZ0OiA2LjNyZW07XHJcbiAgICAgIG1hcmdpbi10b3A6IDJyZW07XHJcbiAgICAgIHBvc2l0aW9uOiByZWxhdGl2ZTtcclxuICAgIH1cclxuICAgIC5yZWN0YW5nbGUtZGVzY3JpcHRpb24ge1xyXG4gICAgICBwb3NpdGlvbjogYWJzb2x1dGU7XHJcbiAgICAgIHRleHQtdHJhbnNmb3JtOiB1cHBlcmNhc2U7XHJcbiAgICAgIHRyYW5zZm9ybTogcm90YXRlKC05MGRlZyk7XHJcbiAgICAgIG1hcmdpbi10b3A6IDIwcmVtO1xyXG4gICAgICBtYXJnaW4tbGVmdDogLTIuMnJlbTtcclxuICAgIH1cclxuICB9XHJcbiAgLm90MnN7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAgcGFkZGluZzogMDtcclxuICAgIC5yZWN0YW5nbGUtd3JhcHBlcntcclxuICAgICAgd2lkdGg6IDI1dnc7XHJcbiAgICAgIC5yZWN0YW5nbGUtbnVtYmVye1xyXG4gICAgICAgIGNvbG9yOiAkdGV4dGNvbG9yO1xyXG4gICAgICAgIG1hcmdpbi10b3A6MTVyZW07XHJcbiAgICAgIH1cclxuICAgICAgLnJlY3RhbmdsZS1saW5le1xyXG4gICAgICAgIG1hcmdpbi10b3A6IDEzcmVtO1xyXG4gICAgICB9XHJcbiAgICAgIC5yZWN0YW5nbGUtZGVzY3JpcHRpb257XHJcbiAgICAgICAgbWFyZ2luLXRvcDogNDdyZW07XHJcbiAgICAgICAgbWFyZ2luLWxlZnQ6IC0xLjhyZW07XHJcbiAgICAgIH1cclxuICAgIH1cclxuICAgIC53cmFwcGVyLWxpbmlle1xyXG4gICAgICB3aWR0aDogNTV2dztcclxuICAgICAgcGFkZGluZy1yaWdodDogMjB2dztcclxuICAgIH1cclxuICB9XHJcbiAgLndyYXBwZXIge1xyXG4gICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1hcm91bmQ7XHJcbiAgICAjbmF2YmFyLWJ0biB7XHJcbiAgICAgIGRpc3BsYXk6IG5vbmU7XHJcbiAgICB9XHJcbiAgICAubmF2YmFyLW1lbnUge1xyXG4gICAgICBwb3NpdGlvbjogc3RhdGljO1xyXG4gICAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZVgoMCk7XHJcbiAgICAgIHRyYW5zaXRpb246IC41cyBlYXNlLWluLW91dDtcclxuICAgICAgbGkge1xyXG4gICAgICAgIGZsb2F0OiBsZWZ0O1xyXG4gICAgICAgIGRpc3BsYXk6IGJsb2NrO1xyXG4gICAgICAgIHBhZGRpbmc6IDJyZW0gMXJlbSAycmVtIDFyZW07XHJcbiAgICAgICAgdGV4dC1hbGlnbjogY2VudGVyO1xyXG4gICAgICAgIGJhY2tncm91bmQ6ICRiZ2NvbG9yO1xyXG4gICAgICAgIG1hcmdpbjogMDtcclxuICAgICAgICBib3JkZXI6IDFweCBzb2xpZCB3aGl0ZTtcclxuICAgICAgICBhIHtcclxuICAgICAgICAgIGZvbnQtc2l6ZTogMS42cmVtO1xyXG4gICAgICAgICAgY29sb3I6ICR0ZXh0Y29sb3I7XHJcbiAgICAgICAgICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbiAgICAgICAgfVxyXG4gICAgICAgICY6bGFzdC1jaGlsZCB7XHJcbiAgICAgICAgICBib3gtc2hhZG93OiBub25lO1xyXG4gICAgICAgIH1cclxuICAgICAgICAmOmhvdmVyIHtcclxuICAgICAgICAgIGNvbG9yOiAjMDAwMDAwO1xyXG4gICAgICAgICAgdGV4dC1zaGFkb3c6IDAuMDAxcmVtIDAuMDAxcmVtIDAuMDA5cmVtICMwMDAwMDA7XHJcbiAgICAgICAgfVxyXG4gICAgICB9XHJcbiAgICB9XHJcbiAgICAubmF2YmFyLXBob25lIHtcclxuICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICAgIHBhZGRpbmctdG9wOiAycmVtO1xyXG4gICAgICBhe1xyXG4gICAgICAgIGNvbG9yOiAkdGV4dGNvbG9yO1xyXG4gICAgICAgIHRleHQtZGVjb3JhdGlvbjogbm9uZTtcclxuICAgICAgICBmb250LXNpemU6IDEuM3JlbTtcclxuICAgICAgICBpbWcge1xyXG4gICAgICAgICAgdmVydGljYWwtYWxpZ246bWlkZGxlO1xyXG4gICAgICAgIH1cclxuICAgICAgICAmOmhvdmVye1xyXG4gICAgICAgICAgY29sb3I6ICMwMDAwMDA7XHJcbiAgICAgICAgICB0ZXh0LXNoYWRvdzogLjAwMXJlbSAuMDAxcmVtIC4wMDlyZW0gIzAwMDAwMDtcclxuICAgICAgICB9XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcbiAgLndyYXBwZXItbGluaWV7XHJcbiAgICBoZWlnaHQ6IDcwcmVtO1xyXG4gIH1cclxuICAuc2VydmljZXMtY29udGFpbmVye1xyXG4gICAgZmxleC1kaXJlY3Rpb246IHJvdztcclxuICAgIC5zZXJ2aWNlcy1lbGVtZW50e1xyXG4gICAgICB3aWR0aDogMjV2dztcclxuICAgICAgLnNlcnZpY2UtZWxlbWVudC10aXRsZXtcclxuICAgICAgICBmb250LXNpemU6IDEuNXJlbTtcclxuICAgICAgfVxyXG4gICAgICBwe1xyXG4gICAgICAgIHdpZHRoOiA2MCU7XHJcbiAgICAgIH1cclxuICAgICAgJjpudGgtY2hpbGQoMSl7XHJcbiAgICAgICAgZGlzcGxheTogYmxvY2s7XHJcbiAgICAgICAgY29sb3I6ICRiZ2NvbG9yO1xyXG4gICAgICAgIHB7XHJcbiAgICAgICAgICBib3JkZXI6IG5vbmU7XHJcbiAgICAgICAgICBtYXJnaW4tdG9wOiA0cmVtO1xyXG4gICAgICAgICAgbWFyZ2luLWxlZnQ6IDUuNnJlbTtcclxuICAgICAgICAgIGZvbnQtc2l6ZTogMi43cmVtO1xyXG4gICAgICAgIH1cclxuICAgICAgICAmOmhvdmVye1xyXG4gICAgICAgICAgYmFja2dyb3VuZC1jb2xvcjogJHRleHRjb2xvcjs7XHJcbiAgICAgICAgICBvcGFjaXR5OiAxO1xyXG4gICAgICAgIH1cclxuICAgICAgfVxyXG4gICAgfVxyXG4gIH1cclxuICAuYWJvdXQtY29tcGFueS1jb250YWluZXJ7XHJcbiAgICBkaXNwbGF5OiBmbGV4O1xyXG4gICAganVzdGlmeS1jb250ZW50OiBzcGFjZS1iZXR3ZWVuO1xyXG4gICAgLnJlY3RhbmdsZS13cmFwcGVye1xyXG4gICAgICBwYWRkaW5nLXRvcDoxMHJlbSA7XHJcbiAgICAgIHdpZHRoOiAyNXZ3O1xyXG4gICAgICAucmVjdGFuZ2xlLW51bWJlcntcclxuICAgICAgICBtYXJnaW4tdG9wOiAzcmVtO1xyXG4gICAgICB9XHJcbiAgICAgIC5yZWN0YW5nbGUtdGl0bGV7XHJcbiAgICAgICAgY29sb3I6ICR0ZXh0Y29sb3I7XHJcbiAgICAgICAgbWFyZ2luLXRvcDogLTEycmVtO1xyXG4gICAgICAgIG1hcmdpbi1sZWZ0OiAyLjNyZW07XHJcbiAgICAgIH1cclxuICAgICAgLnJlY3RhbmdsZS1saW5le1xyXG4gICAgICAgIG1hcmdpbi10b3A6IDEwcmVtO1xyXG4gICAgICB9XHJcbiAgICAgIC5yZWN0YW5nbGUtZGVzY3JpcHRpb257XHJcbiAgICAgICAgbWFyZ2luLXRvcDogMzByZW07XHJcbiAgICAgICAgbWFyZ2luLWxlZnQ6IC00LjJyZW07XHJcbiAgICAgIH1cclxuICAgIH1cclxuICAgIC53cmFwcGVyLWxpbmlle1xyXG4gICAgICB3aWR0aDogNzV2dztcclxuICAgICAgaGVpZ2h0OiA2MHJlbTtcclxuICAgICAgaDN7XHJcbiAgICAgICAgZGlzcGxheTogbm9uZTtcclxuICAgICAgfVxyXG4gICAgICBwe1xyXG4gICAgICAgIHBhZGRpbmc6IDAgN3JlbSAwIDdyZW07XHJcbiAgICAgIH1cclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiA5NjBweCl7XHJcblxyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogMTAyMHB4KSB7XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiAxMjgwcHgpIHtcclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDEzMzZweCkge1xyXG59XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogMTUwMHB4KSB7XHJcbn1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiAxNjAwcHgpIHtcclxufVxyXG5cclxuQG1lZGlhIChtaW4td2lkdGg6IDE3MDBweCkge1xyXG4gIH1cclxuXHJcbkBtZWRpYSAobWluLXdpZHRoOiAxODAwcHgpIHt9XHJcblxyXG5AbWVkaWEgKG1pbi13aWR0aDogMzgwMHB4KSB7fVxyXG4iLCIkdGV4dGNvbG9yOiAjMjYyNDFFO1xyXG4kYmdjb2xvcjogI2ZmZmZmZjtcclxuJGZvbnQ6ICdNb250c2VycmF0Jywgc2Fucy1zZXJpZjtcclxuJGxpbmUtY29sb3I6ICNFOUU5RTk7Il0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiJBQUNBLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSyxPQUFPLFdBQVcsRUFBRSxRQUFRO0VBQ2xELEFBQUEsSUFBSSxDQUFBO0lBQ0YsU0FBUyxFQUFFLEdBQUcsR0FDZjs7QUFHSCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUssT0FBTyxXQUFXLEVBQUUsUUFBUTtFQUNsRCxBQUFBLElBQUksQ0FBQTtJQUNGLFNBQVMsRUFBRSxLQUFLLEdBQ2pCOztBQUdILE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSyxPQUFPLFdBQVcsRUFBRSxRQUFRO0VBQ2xELEFBQUEsSUFBSSxDQUFBO0lBQ0YsU0FBUyxFQUFFLElBQUksR0FDaEI7O0FBR0gsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLLE9BQU8sV0FBVyxFQUFFLFFBQVE7RUFDbEQsQUFBQSxJQUFJLENBQUE7SUFDRixTQUFTLEVBQUUsSUFBSSxHQUNoQjtFQUNELEFBQ0UsUUFETSxDQUNOLFdBQVcsQ0FBQTtJQUNULFlBQVksRUFBRSxNQUFNLEdBQ3JCOztBQUlMLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSyxPQUFPLFdBQVcsRUFBRSxRQUFRO0VBQ2xELEFBQ0UsUUFETSxDQUNOLFdBQVcsQ0FBQTtJQUNULFlBQVksRUFBRSxNQUFNLEdBQ3JCOztBQUlMLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUN0QixBQUNFLFFBRE0sQ0FDTixXQUFXLENBQUE7SUFDVCxZQUFZLEVBQUUsTUFBTSxHQUNyQjs7QUFPTCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUssT0FBTyxXQUFXLEVBQUUsUUFBUTtFQUNsRCxBQUNFLFFBRE0sQ0FDTixXQUFXLENBQUE7SUFDVCxZQUFZLEVBQUUsTUFBTSxHQUNyQjs7QUFJTCxNQUFNLEVBQUUsU0FBUyxFQUFFLEtBQUs7RUFDdEIsQUFDRSxRQURNLENBQ04sV0FBVyxDQUFBO0lBQ1QsWUFBWSxFQUFFLE1BQU0sR0FDckI7O0FBSUwsTUFBTSxFQUFFLFNBQVMsRUFBRSxLQUFLO0VBQ3RCLEFBQ0UsUUFETSxDQUNOLFdBQVcsQ0FBQTtJQUNULFlBQVksRUFBRSxNQUFNLEdBQ3JCOztBQUlMLE1BQU0sRUFBRSxTQUFTLEVBQUUsS0FBSztFQUN0QixBQUFBLGtCQUFrQixDQUFDO0lBQ2pCLFFBQVEsRUFBRSxRQUFRO0lBQ2xCLE9BQU8sRUFBRSxLQUFLLEdBMkJmO0lBN0JELEFBR0Usa0JBSGdCLENBR2hCLGlCQUFpQixDQUFDO01BQ2hCLFFBQVEsRUFBRSxRQUFRO01BQ2xCLFNBQVMsRUFBRSxNQUFNO01BQ2pCLFVBQVUsRUFBRSxLQUFLO01BQ2pCLFdBQVcsRUFBRSxJQUFJLEdBQ2xCO0lBUkgsQUFTRSxrQkFUZ0IsQ0FTaEIsZ0JBQWdCLENBQUM7TUFDZixNQUFNLEVBQUUsSUFBSTtNQUNaLFVBQVUsRUFBRSxJQUFJO01BQ2hCLFdBQVcsRUFBRSxNQUFNO01BQ25CLFNBQVMsRUFBRSxNQUFNLEdBQ2xCO0lBZEgsQUFlRSxrQkFmZ0IsQ0FlaEIsZUFBZSxDQUFDO01BQ2QsT0FBTyxFQUFFLEVBQUU7TUFDWCxNQUFNLEVBQUUsS0FBSztNQUNiLFdBQVcsRUFBRSxNQUFNO01BQ25CLFVBQVUsRUFBRSxJQUFJO01BQ2hCLFFBQVEsRUFBRSxRQUFRLEdBQ25CO0lBckJILEFBc0JFLGtCQXRCZ0IsQ0FzQmhCLHNCQUFzQixDQUFDO01BQ3JCLFFBQVEsRUFBRSxRQUFRO01BQ2xCLGNBQWMsRUFBRSxTQUFTO01BQ3pCLFNBQVMsRUFBRSxjQUFjO01BQ3pCLFVBQVUsRUFBRSxLQUFLO01BQ2pCLFdBQVcsRUFBRSxPQUFPLEdBQ3JCO0VBRUgsQUFBQSxLQUFLLENBQUE7SUFDSCxPQUFPLEVBQUUsSUFBSTtJQUNiLE9BQU8sRUFBRSxDQUFDLEdBbUJYO0lBckJELEFBR0UsS0FIRyxDQUdILGtCQUFrQixDQUFBO01BQ2hCLEtBQUssRUFBRSxJQUFJLEdBWVo7TUFoQkgsQUFLSSxLQUxDLENBR0gsa0JBQWtCLENBRWhCLGlCQUFpQixDQUFBO1FBQ2YsS0FBSyxFQzlHRCxPQUFPO1FEK0dYLFVBQVUsRUFBQyxLQUFLLEdBQ2pCO01BUkwsQUFTSSxLQVRDLENBR0gsa0JBQWtCLENBTWhCLGVBQWUsQ0FBQTtRQUNiLFVBQVUsRUFBRSxLQUFLLEdBQ2xCO01BWEwsQUFZSSxLQVpDLENBR0gsa0JBQWtCLENBU2hCLHNCQUFzQixDQUFBO1FBQ3BCLFVBQVUsRUFBRSxLQUFLO1FBQ2pCLFdBQVcsRUFBRSxPQUFPLEdBQ3JCO0lBZkwsQUFpQkUsS0FqQkcsQ0FpQkgsY0FBYyxDQUFBO01BQ1osS0FBSyxFQUFFLElBQUk7TUFDWCxhQUFhLEVBQUUsSUFBSSxHQUNwQjtFQUVILEFBQUEsUUFBUSxDQUFDO0lBQ1AsZUFBZSxFQUFFLFlBQVksR0E4QzlCO0lBL0NELEFBRUUsUUFGTSxDQUVOLFdBQVcsQ0FBQztNQUNWLE9BQU8sRUFBRSxJQUFJLEdBQ2Q7SUFKSCxBQUtFLFFBTE0sQ0FLTixZQUFZLENBQUM7TUFDWCxRQUFRLEVBQUUsTUFBTTtNQUNoQixTQUFTLEVBQUUsYUFBYTtNQUN4QixVQUFVLEVBQUUsZUFBZSxHQXNCNUI7TUE5QkgsQUFTSSxRQVRJLENBS04sWUFBWSxDQUlWLEVBQUUsQ0FBQztRQUNELEtBQUssRUFBRSxJQUFJO1FBQ1gsT0FBTyxFQUFFLEtBQUs7UUFDZCxPQUFPLEVBQUUsbUJBQW1CO1FBQzVCLFVBQVUsRUFBRSxNQUFNO1FBQ2xCLFVBQVUsRUMzSVIsT0FBTztRRDRJVCxNQUFNLEVBQUUsQ0FBQztRQUNULE1BQU0sRUFBRSxlQUFlLEdBYXhCO1FBN0JMLEFBaUJNLFFBakJFLENBS04sWUFBWSxDQUlWLEVBQUUsQ0FRQSxDQUFDLENBQUM7VUFDQSxTQUFTLEVBQUUsTUFBTTtVQUNqQixLQUFLLEVDakpILE9BQU87VURrSlQsZUFBZSxFQUFFLElBQUksR0FDdEI7UUFyQlAsQUFTSSxRQVRJLENBS04sWUFBWSxDQUlWLEVBQUUsQUFhQSxXQUFZLENBQUM7VUFDWCxVQUFVLEVBQUUsSUFBSSxHQUNqQjtRQXhCUCxBQVNJLFFBVEksQ0FLTixZQUFZLENBSVYsRUFBRSxBQWdCQSxNQUFPLENBQUM7VUFDTixLQUFLLEVBQUUsT0FBTztVQUNkLFdBQVcsRUFBRSxrQ0FBa0MsR0FDaEQ7SUE1QlAsQUErQkUsUUEvQk0sQ0ErQk4sYUFBYSxDQUFDO01BQ1osT0FBTyxFQUFFLEtBQUs7TUFDZCxXQUFXLEVBQUUsSUFBSSxHQWFsQjtNQTlDSCxBQWtDSSxRQWxDSSxDQStCTixhQUFhLENBR1gsQ0FBQyxDQUFBO1FBQ0MsS0FBSyxFQ2pLRCxPQUFPO1FEa0tYLGVBQWUsRUFBRSxJQUFJO1FBQ3JCLFNBQVMsRUFBRSxNQUFNLEdBUWxCO1FBN0NMLEFBc0NNLFFBdENFLENBK0JOLGFBQWEsQ0FHWCxDQUFDLENBSUMsR0FBRyxDQUFDO1VBQ0YsY0FBYyxFQUFDLE1BQU0sR0FDdEI7UUF4Q1AsQUFrQ0ksUUFsQ0ksQ0ErQk4sYUFBYSxDQUdYLENBQUMsQUFPQyxNQUFPLENBQUE7VUFDTCxLQUFLLEVBQUUsT0FBTztVQUNkLFdBQVcsRUFBRSwrQkFBK0IsR0FDN0M7RUFJUCxBQUFBLGNBQWMsQ0FBQTtJQUNaLE1BQU0sRUFBRSxLQUFLLEdBQ2Q7RUFDRCxBQUFBLG1CQUFtQixDQUFBO0lBQ2pCLGNBQWMsRUFBRSxHQUFHLEdBd0JwQjtJQXpCRCxBQUVFLG1CQUZpQixDQUVqQixpQkFBaUIsQ0FBQTtNQUNmLEtBQUssRUFBRSxJQUFJLEdBcUJaO01BeEJILEFBSUksbUJBSmUsQ0FFakIsaUJBQWlCLENBRWYsc0JBQXNCLENBQUE7UUFDcEIsU0FBUyxFQUFFLE1BQU0sR0FDbEI7TUFOTCxBQU9JLG1CQVBlLENBRWpCLGlCQUFpQixDQUtmLENBQUMsQ0FBQTtRQUNDLEtBQUssRUFBRSxHQUFHLEdBQ1g7TUFUTCxBQUVFLG1CQUZpQixDQUVqQixpQkFBaUIsQUFRZixVQUFZLENBQUEsQUFBQSxDQUFDLEVBQUM7UUFDWixPQUFPLEVBQUUsS0FBSztRQUNkLEtBQUssRUM1TEgsT0FBTyxHRHVNVjtRQXZCTCxBQWFNLG1CQWJhLENBRWpCLGlCQUFpQixBQVFmLFVBQVksQ0FBQSxBQUFBLENBQUMsRUFHWCxDQUFDLENBQUE7VUFDQyxNQUFNLEVBQUUsSUFBSTtVQUNaLFVBQVUsRUFBRSxJQUFJO1VBQ2hCLFdBQVcsRUFBRSxNQUFNO1VBQ25CLFNBQVMsRUFBRSxNQUFNLEdBQ2xCO1FBbEJQLEFBRUUsbUJBRmlCLENBRWpCLGlCQUFpQixBQVFmLFVBQVksQ0FBQSxBQUFBLENBQUMsQ0FTWCxNQUFPLENBQUE7VUFDTCxnQkFBZ0IsRUNyTWQsT0FBTztVRHNNVCxPQUFPLEVBQUUsQ0FBQyxHQUNYO0VBSVAsQUFBQSx3QkFBd0IsQ0FBQTtJQUN0QixPQUFPLEVBQUUsSUFBSTtJQUNiLGVBQWUsRUFBRSxhQUFhLEdBOEIvQjtJQWhDRCxBQUdFLHdCQUhzQixDQUd0QixrQkFBa0IsQ0FBQTtNQUNoQixXQUFXLEVBQUMsS0FBTTtNQUNsQixLQUFLLEVBQUUsSUFBSSxHQWdCWjtNQXJCSCxBQU1JLHdCQU5vQixDQUd0QixrQkFBa0IsQ0FHaEIsaUJBQWlCLENBQUE7UUFDZixVQUFVLEVBQUUsSUFBSSxHQUNqQjtNQVJMLEFBU0ksd0JBVG9CLENBR3RCLGtCQUFrQixDQU1oQixnQkFBZ0IsQ0FBQTtRQUNkLEtBQUssRUNyTkQsT0FBTztRRHNOWCxVQUFVLEVBQUUsTUFBTTtRQUNsQixXQUFXLEVBQUUsTUFBTSxHQUNwQjtNQWJMLEFBY0ksd0JBZG9CLENBR3RCLGtCQUFrQixDQVdoQixlQUFlLENBQUE7UUFDYixVQUFVLEVBQUUsS0FBSyxHQUNsQjtNQWhCTCxBQWlCSSx3QkFqQm9CLENBR3RCLGtCQUFrQixDQWNoQixzQkFBc0IsQ0FBQTtRQUNwQixVQUFVLEVBQUUsS0FBSztRQUNqQixXQUFXLEVBQUUsT0FBTyxHQUNyQjtJQXBCTCxBQXNCRSx3QkF0QnNCLENBc0J0QixjQUFjLENBQUE7TUFDWixLQUFLLEVBQUUsSUFBSTtNQUNYLE1BQU0sRUFBRSxLQUFLLEdBT2Q7TUEvQkgsQUF5Qkksd0JBekJvQixDQXNCdEIsY0FBYyxDQUdaLEVBQUUsQ0FBQTtRQUNBLE9BQU8sRUFBRSxJQUFJLEdBQ2Q7TUEzQkwsQUE0Qkksd0JBNUJvQixDQXNCdEIsY0FBYyxDQU1aLENBQUMsQ0FBQTtRQUNDLE9BQU8sRUFBRSxhQUFhLEdBQ3ZCIn0= */
